{% extends 'base.html' %}

{% block title %}Unsubscribe{% endblock title %}

{% block page_title %}<h3>Unsubscribe</h3>{% endblock page_title %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet">
{% endblock extra_css %}

{% block extra_js %}
    <script type="text/javascript" src="{{STATIC_URL}}select2/select2.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-editable/js/bootstrap-editable.js"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span5">
        <form action="" method="post">{% csrf_token %}
            <p>Are you sure you want to unsubscribe from Incident #{{object.incident.pk}}?</p>
            <span class="pull-right">
                {% if next == "incident" %}
                <input type="hidden" name="next" value="incident"/>
                {% endif %}
                <input type="submit" class="btn btn-small" name="cancel" value="Cancel" />
                <input type="submit" class="btn btn-danger " value="Confirm" />
            </span>
        </form>
    </div>
</div>

{% endblock content %}
