{% extends "admin/base.html" %}
{% load i18n %}
<!DOCTYPE html> <!-- html5 -->
{% block extrahead %}
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
{% endblock %}
{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'home' %}" title="Back to main site">SaILS</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
