/*.custom-sidebar .nav-pills .nav-link:not(.active):hover {*/
/*    color: #dc3545;*/
/*}*/
.container-xl {
    max-width: 1300px;
    /*padding: 0 40px;*/
}

.h-33 {
    height: 33.333% !important;
}

.img-size-128 {
    height: auto;
}

.img-size-128 {
    width: 128px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-left-5 {
    margin-left: 5px;
}

.min-height-550 {
    min-height: 550px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-2_0_0_0 {
    padding: 2px 0 0 0 !important;
}

.card-header.padding-2_0_0_0 .card-title {
    margin-top: 3px;
}

.content-footer {
    padding: 15px 8px;
}

.dropdown-menu {
    border-radius: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
    background-color: rgba(0, 0, 0, 0.075);
}

.small-nav-links .nav-link {
    padding: 4px 0 4px 16px;
    font-size: 12px;
}

.layout-top-nav .wrapper .main-header {
    margin-left: 0;
}

.sized-div {
    width: 75%;
    margin: auto;
}

.commenter {
    font-style: italic;
}

.comments hr {
    width: 100%;
}

.comments pre {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 24px;
}

.actual {
    background-color: rgba(237, 194, 64, 0.5);
}

.potential {
    background-color: rgba(175, 216, 248, 0.5);
}

.invalid {
    background-color: rgba(203, 75, 75, 0.5);
}

.checked {
    opacity: 1;
}

.unchecked {
    opacity: 0.4;
}

.checkbox-div-border {
    width: 15px;
    height: 10px;
    background-color: #474747;
    display: inline-block;
    margin: 8px 4px 0 0;
    padding: 1px;
    cursor: pointer;
}

.checkbox-div {
    width: 100%;
    height: 100%;
}

.small-legend-select label {
    display: inline-block;
}

.legend-box {
    padding-top: 6px;
    height: 110px;
    width: 50%;
    margin-left: 10%;
}

.stat-count-legend {
    margin-top: 1%;
}

.small-legend-select {
    margin-left: 0%;
}

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
}

/*  ---------  toasts  ---------  */
/* slightly transparent fallback */
.toast {
    background-color: rgba(255, 255, 255, .9);
    backdrop-filter: none !important;
}
#toast-container > .toast-info {
    background-image: none !important;
    padding-left: 15px !important;
}

#toast-container > div {
    border-radius: 0;
    /*box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);*/
    box-shadow: none;
    transition: border-radius .3s ease;
}

#toast-container > div:hover {
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
    box-shadow: none;
    border-radius: 20px;
    transition: border-radius .3s ease;
}

#toast-container.toast-top-right {
    top: 62px;
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    .toast {
        background-color: rgba(255, 255, 255, .5);
        -webkit-backdrop-filter: blur(2em);
        backdrop-filter: blur(2em);
    }
}

/*  ---------  badges  ----------- */
.badge-small {
    /*font-size: 12px;*/
}

/*  ---------  alerts  ----------- */
.alert {
    border-radius: 0;
}

/*  ---------  popover  --------- */
.popover {
    border-radius: 0;
}


/*  ---------  cards  ---------  */
.card {
    border-radius: 0;
}

.card-orange .card-header {
    border-radius: 0;
    padding: 5px 20px;
}

.card-orange .card-header .nav-link {
    padding: 4px 16px 0 16px;
}

.card-orange .card-header .card-title,
.card-orange:not(.card-outline) .btn-tool {
    color: #fff;
}

.card-header.btn {
    text-align: left;
}

.card-orange .card-tools {
    color: #fff;
}

.card-light > .card-header.btn:hover {
    background-color: #e2e6ea;
}

.card-orange > .card-header.btn:hover {
    background-color: #c66716;
}

.card-orange .nav-tabs .nav-item .nav-link:not(.active) {
    color: #fff;
}

/*  ---------  modals  ---------  */
.modal.custom-modal .modal-content {
    border-radius: 0;
}


/*  ----------  forms  ---------  */
.form-control {
    border-radius: 0;
}

.form-group.has-error label {
    color: #ff1b00;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600;
}

.dropdown-form {
    min-width: 300px;
    padding: 10px;
}

/* -----------  select2  ---------- */
/*.select2-container--default .select2-results__option[aria-selected=true] {*/
/*  background-color: #ad3f3f !important;*/
/*  color: #fff !important;*/
/*}*/
/*.select2-container--default .select2-results__option--highlighted[aria-selected],*/
/*.select2-container--default .select2-results__option--highlighted[aria-selected]:hover {*/
/*    background-color: #ad3f3f;*/
/*    !*color: #000;*!*/
/*}*/
.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border-radius: 0;
    /*padding: 4px 12px;*/
    /*height: 30px;*/
}

/*.select2-container--default .select2-selection--multiple .select2-selection__choice {*/
/*margin-top: 0;*/
/*}*/
/*.select2-container--default.select2-container--disabled .select2-selection--single {*/
/*  box-shadow: none;*/
/*}*/
.select2-container--default.select2-container--disabled .select2-selection__rendered {
    color: #bbb;
}

/*.select2-container--default.select2-container--open {*/
/*  border-color: #ad3f3f;*/
/*}*/
.select2-dropdown {
    border: 1px solid #d2d6de;
    border-radius: 0;
    box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.58);
}

/*.select2-container--default .select2-results__option--highlighted[aria-selected] {*/
/*  background-color: #ad3f3f;*/
/*  color: #fff;*/
/*}*/
.select2-results__option {
    /*padding: 4px 12px;*/
    user-select: none;
    -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: -4px;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 6px;
    padding-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 28px;
    right: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 0;
}

.select2-dropdown .select2-search__field,
.select2-search--inline .select2-search__field {
    border: 1px solid #d2d6de;
}

/*.select2-dropdown .select2-search__field:focus,*/
/*.select2-search--inline .select2-search__field:focus {*/
/*  outline: none;*/
/*  border: 1px solid #ad3f3f;*/
/*}*/
.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999;
    background-color: #aaa;
}

/*.select2-container--default .select2-results__option[aria-selected=true],*/
/*.select2-container--default .select2-results__option[aria-selected=true]:hover {*/
/*  color: #444;*/
/*}*/
.select2-container--default .select2-selection--multiple {
    border: 1px solid #d2d6de;
    border-radius: 0;
}

.select2-container--default .select2-selection--multiple:focus {
    border-color: #ddd;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #d2d6de;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #aaa;
    border: none;
    padding: 1px 10px;
    /*color: #fff;*/
    border-radius: 15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 5px;
    color: rgba(255, 255, 255, 0.7);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #fff;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px;
}

.has-error .select2-selection, .has-error .form-control {
    border-color: #f81900;
}

.has-error .help-block {
    color: #ff1b00;
}

/*.select2-container--default .select2-selection--multiple:focus {*/
/*  border-color: #ad3f3f;*/
/*}*/
.required-option {
    color: #bbb;
    font-style: italic;
}

.select2-container--default li.select2-results__option.loading-results {
    background-color: #fff;
}

/*  -------  flatpickr  -------  */
.input-group-text,
.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
    border-radius: 0;
}

.flatpickr.form-control:not([disabled]),
.form-control.flatpickr-input:not([disabled]) {
    background-color: #fff;
}

.flatpickr-day {
    border-radius: 0;
}

/*.flatpickr-day.selected,*/
/*.flatpickr-day.startRange,*/
/*.flatpickr-day.endRange,*/
/*.flatpickr-day.selected.inRange,*/
/*.flatpickr-day.startRange.inRange,*/
/*.flatpickr-day.endRange.inRange,*/
/*.flatpickr-day.selected:focus,*/
/*.flatpickr-day.startRange:focus,*/
/*.flatpickr-day.endRange:focus,*/
/*.flatpickr-day.selected:hover,*/
/*.flatpickr-day.startRange:hover,*/
/*.flatpickr-day.endRange:hover,*/
/*.flatpickr-day.selected.prevMonthDay,*/
/*.flatpickr-day.startRange.prevMonthDay,*/
/*.flatpickr-day.endRange.prevMonthDay,*/
/*.flatpickr-day.selected.nextMonthDay,*/
/*.flatpickr-day.startRange.nextMonthDay,*/
/*.flatpickr-day.endRange.nextMonthDay {*/
/*  background-color: #ad3f3f;*/
/*}*/
.flatpickr-calendar {
    border-radius: 0;
}


/*  ------ daterangepicker ------ */
div.daterangepicker {
    border-radius: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

div.daterangepicker .btn {
    border-radius: 0;
}

div.daterangepicker div.drp-buttons {
    display: block;
}

div.daterangepicker:not(.show-calendar) div.drp-buttons > span.drp-selected {
    display: none;
}


/*div.daterangepicker .ranges li.active,*/
/*div.daterangepicker td.active,*/
/*div.daterangepicker td.active:hover {*/
/*  background-color: #ad3f3f;*/
/*}*/


/*   -------- vue-cal   --------  */
.cell_container {
    height: 100%;
}

.interactable .vuecal__cell.vuecal__cell--selected > div {
    background-color: #92e4f8;
}

.vuecal__cell-events {
    cursor: pointer;
}

/*.vuecal__cell-date {*/
/*  height: 100%;*/
/*}*/
.interactable .data_selected {
    background-color: #92e4f8 !important;
}
/*.modal-xxl {*/
/*    max-width: 1400px;*/
/*}*/
@media (min-width: 992px) {
  .modal-lg,
  .modal-xxl {
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .modal-xxl {
    max-width: 1400px;
  }
}

.row.success label {
    color: #00b44e;
}
.row.success input,
.row.success .select2-selection
{
    border-color: #00b44e;
}
.card.card-default {
    margin-bottom: 50px;
}
.paginate_disabled_previous,
.paginate_disabled_next,
.paginate_disabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_disabled_previous:active,
.paginate_disabled_next:active {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: rgba(31, 45, 61, 0.55) !important;
    cursor: default;
}
.dataTables_paginate.paging_two_button {
    float: right;
    width: 250px;
}
#cause-table > thead > tr > th:nth-child(3) {
    max-width: 500px;
}

#cause-table > thead > tr > th:nth-child(3) > span > * {
    max-width: 485px;
}