span.flatpickr-day.selected {
    background-color: #9b90e4;
    border-color: #9b90e4;
}
span.flatpickr-day.selected:hover {
    background-color: #555299;
    border-color: #555299;
}
span.flatpickr-day {
    border-radius: 0;
}