.dataTables_wrapper {
    display: block;
}
#listable-table-triage > thead > tr > th:nth-child(2),
#listable-table-triage > tbody > tr > td:nth-child(2),
#listable-table-all-incidents > thead > tr > th:nth-child(2),
#listable-table-all-incidents > tbody > tr > td:nth-child(2),
#listable-table-incomplete-incidents > thead > tr > th:nth-child(2),
#listable-table-incomplete-incidents > tbody > tr > td:nth-child(2),
#listable-table-complete-incidents > thead > tr > th:nth-child(2),
#listable-table-complete-incidents > tbody > tr > td:nth-child(2),
#listable-table-actual-incidents > thead > tr > th:nth-child(2),
#listable-table-actual-incidents > tbody > tr > td:nth-child(2),
#listable-table-invalid-incidents > thead > tr > th:nth-child(2),
#listable-table-invalid-incidents > tbody > tr > td:nth-child(2),
#listable-table-my-incidents > thead > tr > th:nth-child(2),
#listable-table-my-incidents > tbody > tr > td:nth-child(2),
#listable-table-my-investigations > thead > tr > th:nth-child(2),
#listable-table-my-investigations > tbody > tr > td:nth-child(2),

#listable-table-incomplete-actions > thead > tr > th:nth-child(2),
#listable-table-incomplete-actions > tbody > tr > td:nth-child(2),
#listable-table-complete-actions > thead > tr > th:nth-child(2),
#listable-table-complete-actions > tbody > tr > td:nth-child(2),
#listable-table-all-actions > thead > tr > th:nth-child(2),
#listable-table-all-actions > tbody > tr > td:nth-child(2),
#listable-table-my-incomplete-actions > thead > tr > th:nth-child(2),
#listable-table-my-incomplete-actions > tbody > tr > td:nth-child(2),
#listable-table-my-complete-actions > thead > tr > th:nth-child(2),
#listable-table-my-complete-actions > tbody > tr > td:nth-child(2),
#listable-table-incomplete-actions > thead > tr > th:nth-child(3),
#listable-table-incomplete-actions > tbody > tr > td:nth-child(3),
#listable-table-complete-actions > thead > tr > th:nth-child(3),
#listable-table-complete-actions > tbody > tr > td:nth-child(3),
#listable-table-all-actions > thead > tr > th:nth-child(3),
#listable-table-all-actions > tbody > tr > td:nth-child(3),
#listable-table-my-incomplete-actions > thead > tr > th:nth-child(3),
#listable-table-my-incomplete-actions > tbody > tr > td:nth-child(3),
#listable-table-my-complete-actions > thead > tr > th:nth-child(3),
#listable-table-my-complete-actions > tbody > tr > td:nth-child(3),
#listable-table-my-actions > thead > tr > th:nth-child(2),
#listable-table-my-actions > tbody > tr > td:nth-child(2),

#listable-table-incomplete-sharing > thead > tr > th:nth-child(2),
#listable-table-incomplete-sharing > tbody > tr > td:nth-child(2),
#listable-table-complete-sharing > thead > tr > th:nth-child(2),
#listable-table-complete-sharing > tbody > tr > td:nth-child(2),
#listable-table-all-sharing > thead > tr > th:nth-child(2),
#listable-table-all-sharing > tbody > tr > td:nth-child(2),
#listable-table-my-incomplete-sharing > thead > tr > th:nth-child(2),
#listable-table-my-incomplete-sharing > tbody > tr > td:nth-child(2),
#listable-table-my-complete-sharing > thead > tr > th:nth-child(2),
#listable-table-my-complete-sharing > tbody > tr > td:nth-child(2),
#listable-table-my-sharing > thead > tr > th:nth-child(3),
#listable-table-my-sharing > tbody > tr > td:nth-child(3),
#listable-table-incomplete-sharing > thead > tr > th:nth-child(3),
#listable-table-incomplete-sharing > tbody > tr > td:nth-child(3),
#listable-table-complete-sharing > thead > tr > th:nth-child(3),
#listable-table-complete-sharing > tbody > tr > td:nth-child(3),
#listable-table-all-sharing > thead > tr > th:nth-child(3),
#listable-table-all-sharing > tbody > tr > td:nth-child(3),
#listable-table-my-incomplete-sharing > thead > tr > th:nth-child(3),
#listable-table-my-incomplete-sharing > tbody > tr > td:nth-child(3),
#listable-table-my-complete-sharing > thead > tr > th:nth-child(3),
#listable-table-my-complete-sharing > tbody > tr > td:nth-child(3),
#listable-table-my-sharing > thead > tr > th:nth-child(3),
#listable-table-my-sharing > tbody > tr > td:nth-child(3) {
  max-width: 75px;
}

#listable-table-actual-incidents > thead > tr > th:nth-child(8),
#listable-table-actual-incidents > tbody > tr > td:nth-child(8) {
  max-width: 120px;
}
#listable-table-my-investigations > thead > tr > th:nth-child(3),
#listable-table-my-investigations > tbody > tr > td:nth-child(3),
#listable-table-my-investigations > thead > tr > th:nth-child(4),
#listable-table-my-investigations > tbody > tr > td:nth-child(4),
#listable-table-my-investigations > thead > tr > th:nth-child(5),
#listable-table-my-investigations > tbody > tr > td:nth-child(5),
#listable-table-my-incidents > thead > tr > th:nth-child(3),
#listable-table-my-incidents > tbody > tr > td:nth-child(3),
#listable-table-my-incidents > thead > tr > th:nth-child(4),
#listable-table-my-incidents > tbody > tr > td:nth-child(4),
#listable-table-my-incidents > thead > tr > th:nth-child(5),
#listable-table-my-incidents > tbody > tr > td:nth-child(5),
#listable-table-incomplete-incidents > thead > tr > th:nth-child(3),
#listable-table-incomplete-incidents > tbody > tr > td:nth-child(3),
#listable-table-incomplete-incidents > thead > tr > th:nth-child(4),
#listable-table-incomplete-incidents > tbody > tr > td:nth-child(4),
#listable-table-incomplete-incidents > thead > tr > th:nth-child(5),
#listable-table-incomplete-incidents > tbody > tr > td:nth-child(5),
#listable-table-complete-incidents > thead > tr > th:nth-child(3),
#listable-table-complete-incidents > tbody > tr > td:nth-child(3),
#listable-table-complete-incidents > thead > tr > th:nth-child(4),
#listable-table-complete-incidents > tbody > tr > td:nth-child(4),
#listable-table-complete-incidents > thead > tr > th:nth-child(5),
#listable-table-complete-incidents > tbody > tr > td:nth-child(5),
#listable-table-all-incidents > thead > tr > th:nth-child(3),
#listable-table-all-incidents > tbody > tr > td:nth-child(3),
#listable-table-all-incidents > thead > tr > th:nth-child(4),
#listable-table-all-incidents > tbody > tr > td:nth-child(4),
#listable-table-all-incidents > thead > tr > th:nth-child(5),
#listable-table-all-incidents > tbody > tr > td:nth-child(5),
#listable-table-actual-incidents > thead > tr > th:nth-child(3),
#listable-table-actual-incidents > tbody > tr > td:nth-child(3),
#listable-table-actual-incidents > thead > tr > th:nth-child(4),
#listable-table-actual-incidents > tbody > tr > td:nth-child(4),
#listable-table-actual-incidents > thead > tr > th:nth-child(5),
#listable-table-actual-incidents > tbody > tr > td:nth-child(5),
#listable-table-invalid-incidents > thead > tr > th:nth-child(3),
#listable-table-invalid-incidents > tbody > tr > td:nth-child(3),
#listable-table-invalid-incidents > thead > tr > th:nth-child(4),
#listable-table-invalid-incidents > tbody > tr > td:nth-child(4),
#listable-table-invalid-incidents > thead > tr > th:nth-child(5),
#listable-table-invalid-incidents > tbody > tr > td:nth-child(5) {
    min-width: 130px;
}

.btn-table {
    width: 100%;
}

/*  ------ sorting ------- */
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc {
    cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting:before {
    content: '\f0dc';
    font-family: FontAwesome, "Font Awesome 5 Free";
    padding-right: 8px;
}
table.table thead .sorting_asc:before {
    content: '\f0dd';
    font-family: FontAwesome, "Font Awesome 5 Free";
    padding-right: 8px;
}
table.table thead .sorting_desc:before {
    content: '\f0de';
    font-family: FontAwesome, "Font Awesome 5 Free";
    padding-right: 8px;
}
/*table.dataTable tr td.sorting_1 {*/
/*    background-color: #e0d7d0;*/
/*    border-color: transparent;*/
/*}*/
/*table.dataTable tr td.sorting_2 {*/
/*    background-color: #eee8e4;*/
/*    border-color: transparent;*/
/*}*/
/*table.dataTable tr td.sorting_3 {*/
/*    background-color: #f8f2ee;*/
/*    border-color: transparent;*/
/*}*/
/*table.dataTable.table-hover > tbody > tr:hover > td.sorting_1 {*/
/*    background-color: #d9d1cd;*/
/*}*/
/*table.dataTable.table-hover > tbody > tr:hover > td.sorting_2 {*/
/*    background-color: #e2dcd6;*/
/*}*/
/*table.dataTable.table-hover > tbody > tr:hover > td.sorting_3 {*/
/*    background-color: #ece5e0;*/
/*}*/


/*  ------ pagination ------  */
a.paginate_disabled_previous, a.paginate_disabled_next {

}
ul.pagination {
    text-align: right;
    float: right;
}
ul.pagination > li > a {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 4px 2px;
    color: #212529;
    min-width: 31px;
    display: inline-block;
    text-align: center;
}
ul.pagination > li:not(.disabled) > a:hover {
    background-color: #e9ecef;
    color: #2b2b2b;
}
ul.pagination > li.disabled > a {
    opacity: 0.65;
    cursor: default;
}
ul.pagination > li.active > a {
    background-color: #6c757d;
    color: #ffffff;
    border-color: #6c757d;
}
ul.pagination > li.active > a:hover {
    background-color: #5a6268;
    border-color: #545b62;
    color: #ffffff;
}


/*  ------ td, th ------  */
table.table-condensed td {
    padding: 2px;
}
thead > tr:nth-child(2) > th:empty {
    opacity: 0;
}
/*thead > tr:nth-child(2) > th > span {*/
/*    opacity: 1 !important;*/
/*}*/

/*  ------ td, th ------  */
table.table tr td {
    border-top-color: #faf4f0;
}



/*  ------ inputs ------  */
.full-width, .filter_column, .filter_column > div.btn-group {
    width: 100% !important;
    /*min-width: 100px;*/
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
}

table > thead > tr:nth-child(2) > th {
    color: transparent;
}