<!DOCTYPE html> <!-- html5 -->
<html lang="en">
{% load i18n %}
<head>
  <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
  <meta charset="utf-8">
  <title id="page-title">SaILS :: {% block title %}Home{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  {#        <link href="{{ STATIC_URL }}css/bootstrap_light.min.css" rel="stylesheet">#}
  {#    <style>#}
  {#      body {#}
  {#        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */#}
  {#      }#}
  {#    </style>#}
  {#        <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">#}
  {#        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->#}
  {#        <!--[if lt IE 9]><script src="{{STATIC_URL}}js/html5.js"></script><![endif]-->#}
  {#        <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">#}
  {#        <!--[if IE 7]><link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome-ie7.min.css"><![endif]-->#}
  {#        <link href="{{ STATIC_URL }}splitter/css/jquery.splitter.css" rel="stylesheet">#}

  <link href="{{ STATIC_URL }}toastr/css/toastr{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}select2/css/select2{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}flatpickr/css/flatpickr{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}fontawesome/css/all{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}bootstrap/css/bootstrap{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}adminlte/css/AdminLTE{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/custom.css?v={{ CSS_VERSION }}" rel="stylesheet">


{#  <link href="{{ STATIC_URL }}css/project.css" rel="stylesheet">#}
  {% block extra_css %}{% endblock extra_css %}

  <script>
      let SiteConfig = {
          forceScriptName: "{{ FORCE_SCRIPT_NAME }}",
          baseStaticUrl: "{{ STATIC_URL }}",
          version: "{{ VERSION }}",
          css_version: "{{ CSS_VERSION }}",
          debug: "{{ DEBUG }}",
          min: "{{ MIN }}",
          CSRF_COOKIE_NAME: "{{ CSRF_COOKIE_NAME }}",

          FRONTEND_DATE_DATA_FORMAT: '{{ FRONTEND_DATE_DATA_FORMAT }}',
          FRONTEND_TIME_DATA_FORMAT: '{{ FRONTEND_TIME_DATA_FORMAT }}',
          FRONTEND_DATE_DISPLAY_FORMAT: '{{ FRONTEND_DATE_DISPLAY_FORMAT }}',
          FRONTEND_DATE_DATA_FORMAT_MOMENT: '{{ FRONTEND_DATE_DATA_FORMAT_MOMENT }}',
          FRONTEND_TIME_DATA_FORMAT_MOMENT: '{{ FRONTEND_TIME_DATA_FORMAT_MOMENT }}',
          FRONTEND_DATE_DISPLAY_FORMAT_MOMENT: '{{ FRONTEND_DATE_DISPLAY_FORMAT_MOMENT }}',
          FRONTEND_DATETIME_DATA_FORMAT_MOMENT: '{{ FRONTEND_DATETIME_DATA_FORMAT_MOMENT }}'
      };
      let AjaxURLS = {
          incident_flag: "{% url 'incident_flag' pk=0 %}",
          select_incident: "{% url 'select_incident' %}",
          update_incident: "{% url 'update_incident' pk=0 %}",
          sub_unsub: "{% url 'sub_unsub' %}"
      };

      let errorMessages = [];
      {% for message in messages %}
          errorMessages.push([{% if message.tags %}"{{ message.tags }}"{% else %}'info'{% endif %}, "{{ message }}"]);
      {% endfor %}
  </script>

  {#        {% load js %}#}
  {#        {% django_js_init %}#}
  <script src="{{ STATIC_URL }}require/js/require.min.js?v={{ CSS_VERSION }}"></script>
  {#        <script src="{{ STATIC_URL }}jquery/js/jquery.min.js?v={{ CSS_VERSION }}"></script>#}
  <script type="text/javascript">
      var config = "{{ STATIC_URL }}require/js/require_config.js?v={{ CSS_VERSION }}";
      require([config], function (require_config) {
          {% block require_javascript %}
          {% endblock require_javascript %}
      });
  </script>

  {% block extra_js %}
  {% endblock extra_js %}

  {% block extra_head %}
  {% endblock extra_head %}

</head>

<body class="layout-top-nav" {% block body_attr %}{% endblock %}>
  <div class="wrapper">


    <nav class="main-header navbar navbar-expand-md navbar-dark navbar-orange">
      <div class="container-xl">
        <a href="{% url 'report' %}" class="navbar-brand">
  {#        <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">#}
          <span class="brand-text font-weight-light"><b>SaILS</b></span>
        </a>

  {#      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">#}
  {#        <span class="navbar-toggler-icon"></span>#}
  {#      </button>#}

        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
          <!-- Left navbar links -->
          <ul class="navbar-nav">

            {% if perms.incidents %}

              <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link" title="View Incident Dashboard">
  {#                <i class="fas fa-tachometer-alt"></i>#}
                  Dashboard
                </a>
              </li>

              <li class="nav-item dropdown">
                <a id="incidents-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
  {#                <i class="fas fa-exclamation"></i>#}
                  Incidents<b class="caret"></b>
                </a>
                <ul aria-labelledby="incidents-dropdown" class="dropdown-menu border-0 shadow">

                  <li class="dropdown-header">Incidents</li>
                  <li><a class="dropdown-item" href="{% url 'triage' %}" title="Triage recently reported incidents">
  {#                  <i class="far fa-hand-point-right"></i>#}
                    Triage
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'incomplete-incidents' %}" title="View incomplete & flagged investigations">
  {#                    <i class="far fa-folder-open"></i>#}
                    Incomplete &amp; Flagged
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'complete-incidents' %}" title="View all completed incidents">
  {#                  <i class="far fa-folder"></i>#}
                    Complete
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'actual-incidents' %}" title="View all valid Actual incidents">
  {#                  <i class="fas fa-exclamation-triangle"></i>#}
                    Actual
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'invalid-incidents' %}" title="View all invalid incidents">
  {#                  <i class="fas fa-ban"></i>#}
                    Invalid
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'all-incidents' %}" title="View all incidents">
  {#                  <i class="fas fa-globe"></i>#}
                    All Incidents
                  </a></li>
                  <li class="dropdown-divider"></li>
                  <li class="dropdown-header">My Incidents</li>
                  <li><a class="dropdown-item" href="{% url 'my-incidents' %}" title="View all incidents you have submitted">
  {#                  <i class="far fa-user"></i>#}
                    Submitted
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'my-investigations' %}" title="View all incident investigations you have been assigned ">
  {#                  <i class="fas fa-search-plus"></i>#}
                    Investigations
                  </a></li>

                </ul>
              </li>
              <li class="nav-item dropdown">
                <a id="actions-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                  <i class="icon-bolt"></i>Actions<b class="caret"></b>
                </a>
                <ul aria-labelledby="actions-dropdown" class="dropdown-menu border-0 shadow">
                  <li class="dropdown-header">Actions</li>
                  <li><a class="dropdown-item" href="{% url 'incomplete-actions' %}" title="View incomplete learning actions">
  {#                  <i class="far fa-folder-open"></i>#}
                    Incomplete
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'complete-actions' %}" title="View all completed actions">
  {#                  <i class="far fa-folder"></i>#}
                    Complete
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'all-actions' %}" title="View all actions">
  {#                  <i class="fas fa-globe"></i>#}
                    All Actions
                  </a></li>

                  <li class="dropdown-divider"></li>
                  <li class="dropdown-header">My Actions</li>
                  <li><a class="dropdown-item" href="{% url 'my-incomplete-actions' %}" title="View all incomplete actions you have been assigned ">
  {#                  <i class="fas fa-search-plus"></i>#}
                    Incomplete
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'my-complete-actions' %}" title="View all complete actions you have been assigned ">
  {#                  <i class="fas fa-search-plus"></i>#}
                    Complete
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'my-actions' %}" title="View all actions you have been assigned ">
  {#                  <i class="fas fa-search-plus"></i>#}
                    All
                  </a></li>



                </ul>
              </li>
              <li class="nav-item dropdown">
                <a id="sharing-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
  {#                <i class="far fa-share-square"></i> #}
                  Sharing <b class="caret"></b>
                </a>
                <ul aria-labelledby="sharing-dropdown" class="dropdown-menu border-0 shadow">
                  <li class="dropdown-header">Sharing</li>
                  <li><a class="dropdown-item" href="{% url 'incomplete-sharing' %}" title="View incomplete sharing">
  {#                  <i class="far fa-folder-open"></i>#}
                    Incomplete
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'complete-sharing' %}" title="View all completed sharing">
  {#                  <i class="far fa-folder"></i>#}
                    Complete
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'all-sharing' %}" title="View all sharing">
  {#                  <i class="fas fa-globe"></i>#}
                    All Sharing
                  </a></li>

                  <li class="dropdown-divider"></li>
                  <li class="dropdown-header">My Sharing</li>
                  <li><a class="dropdown-item" href="{% url 'my-incomplete-sharing' %}" title="View all incomplete sharing you have been assigned ">
  {#                  <i class="fas fa-search-plus"></i>#}
                    Incomplete
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'my-complete-sharing' %}" title="View all complete sharing you have been assigned ">
  {#                  <i class="fas fa-search-plus"></i>#}
                    Complete
                  </a></li>
                  <li><a class="dropdown-item" href="{% url 'my-sharing' %}" title="View all sharing you have been assigned ">
  {#                  <i class="fas fa-search-plus"></i>#}
                    All
                  </a></li>
                </ul>
              </li>
            {% endif %}
            {% if not request.user.is_anonymous %}
              <li class="nav-item dropdown">
                <a id="stats-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                  <i class="icon-align-left"></i> Statistics <b class="caret"></b>
                </a>
                <ul aria-labelledby="stats-dropdown" class="dropdown-menu border-0 shadow">
                  <li id="stats-link"><a class="dropdown-item" href="{% url 'statistics' %}" title="View overall statistics">
  {#                  <i class="far fa-chart-bar"></i>#}
                    Overall
                  </a></li>
                  {% if perms.incidents %}
                    <li><a class="dropdown-item" href="{% url 'incomplete-statistics' %}" title="View statistic on incomplete incidents">
  {#                    <i class="far fa-folder-open"></i>#}
                      Incomplete
                    </a></li>
                  {% endif %}
                </ul>
              </li>
            {% endif %}
          </ul>


        </div>

        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
          <li class="nav-item dropdown">
            {% if not request.user.is_anonymous %}
              <input id="username" type="hidden" value="{{ request.user.username }}"/>
              <a id="sign-out-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                <i class="icon-cogs"></i>{{ request.user }}<b class="caret"></b>
              </a>
              <ul aria-labelledby="sign-out-dropdown" class="dropdown-menu border-0 shadow">
                {% if request.user.is_staff %}
                  <li><a class="dropdown-item" href="{% url 'admin:index' %}">
  {#                  <i class="fas fa-tasks"></i>#}
                    Admin
                  </a></li>
                {% endif %}
                <li class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">
  {#                <i class="fas fa-sign-out-alt"></i>#}
                  Logout
                </a></li>
              </ul>
            {% else %}
              <a id="sign-in-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
  {#              <i class="fas fa-sign-in-alt"></i>#}
                Sign In <strong class="caret"></strong>
              </a>
              <ul aria-labelledby="sign-in-dropdown" class="dropdown-menu border-0 shadow">
                <form id="nav-login-form" method="POST" action="{% url 'login' %}?{{ request.META.QUERY_STRING }}" autocapitalize="off">

                  <div class="row no-gutters">
                    <div class="col-lg-12">
                      <div class="form-horizontal dropdown-form">

                        {% csrf_token %}
                        {% if 'next=' not in request.META.QUERY_STRING %} <input type="hidden" name="next" value="{% url 'report' %}"/>{% endif %}

                        <div class="form-group">
                          <div class="row no-gutters">
                            <div class="col-lg-4">
                              <label for="id_username_dropdown">Username</label>
                            </div>
                            <div class="col-lg-8">
                              <input id="id_username_dropdown" name="username" type="text" placeholder="Username"/>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row no-gutters">
                            <div class="col-lg-4">
                              <label for="id_password_dropdown">Password</label>
                            </div>
                            <div class="col-lg-8">
                              <input id="id_password_dropdown" name="password" type="password" placeholder="Password"/>
                            </div>
                          </div>
                        </div>

                        <input id='sign-in-from-dropdown' class="float-right btn btn-flat btn-primary" type="submit" name="commit" value="Sign In"/>
                      </div>
                    </div>
                  </div>
                </form>

              </ul>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-xl" style="margin-top: 50px;">

      <div id="messages" style="display: none;">

      </div>

      {% block page_title %}{% endblock page_title %}

      {% block content %}
        <p>Base ILS Template</p>
      {% endblock content %}

      {% block footer %}
        <div class="row">
          <div class="legal col-lg-12 text-center">
            <hr/>
            SaILS+ v{{ VERSION }} | &copy; 2020 The Ottawa Hospital Cancer Center
          </div>
        </div>
      {% endblock footer %}
    </div> <!-- /container -->
  </div>
</body>
</html>
