{#{% extends "registration/base.html" %}#}

<!DOCTYPE html>
<html lang="en">

{% load i18n %}
{% load sail_tags %}

<head>
  <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
  <meta charset="utf-8">
  <title>SaILS :: Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">


  {% block style_base %}
    <link href="{{ STATIC_URL }}toastr/css/toastr{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/css/select2{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}flatpickr/css/flatpickr{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}fontawesome/css/all{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}adminlte/css/adminLTE{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
    {#    <link href="{{ STATIC_URL }}rooster_core/css/base.css?v={{ CSS_VERSION }}" rel="stylesheet">#}
    <link href="{{ STATIC_URL }}css/custom.css?v={{ CSS_VERSION }}" rel="stylesheet">
    {#    <link href="{{ STATIC_URL }}css/custom-fontawesome.css?v={{ VERSION }}" rel="stylesheet">#}
    {#    <link href="{{ STATIC_URL }}css/print.css?v={{ CSS_VERSION }}" rel="stylesheet">#}
    {#    <link href="{{ STATIC_URL }}css/custom-vue.css?v={{ CSS_VERSION }}" rel="stylesheet">#}

    {% block extra_css %}{% endblock extra_css %}
  {% endblock style_base %}
  <script>
      let SiteConfig = {
          forceScriptName: "{{ FORCE_SCRIPT_NAME }}",
          baseStaticUrl: "{{ STATIC_URL }}",
          version: "{{ VERSION }}",
          css_version: "{{ CSS_VERSION }}",
          debug: "{{ DEBUG }}",
          min: "{{ MIN }}",

          FRONTEND_DATE_DATA_FORMAT: '{{ FRONTEND_DATE_DATA_FORMAT }}',
          FRONTEND_TIME_DATA_FORMAT: '{{ FRONTEND_TIME_DATA_FORMAT }}',
          FRONTEND_DATE_DISPLAY_FORMAT: '{{ FRONTEND_DATE_DISPLAY_FORMAT }}',
          FRONTEND_DATE_DATA_FORMAT_MOMENT: '{{ FRONTEND_DATE_DATA_FORMAT_MOMENT }}',
          FRONTEND_TIME_DATA_FORMAT_MOMENT: '{{ FRONTEND_TIME_DATA_FORMAT_MOMENT }}',
          FRONTEND_DATE_DISPLAY_FORMAT_MOMENT: '{{ FRONTEND_DATE_DISPLAY_FORMAT_MOMENT }}',
          FRONTEND_DATETIME_DATA_FORMAT_MOMENT: '{{ FRONTEND_DATETIME_DATA_FORMAT_MOMENT }}'
      };
  </script>

  <script src="{{ STATIC_URL }}require/js/require.js?v={{ CSS_VERSION }}"></script>
  <script type="text/javascript">
      var config = "{{ STATIC_URL }}require/js/require_config.js?v={{ CSS_VERSION }}";
      require([config], function (require_config) {
          require(['toastr'], function (toastr) {
              toastr.options = {
                  "closeButton": false,
                  "debug": false,
                  "newestOnTop": false,
                  "progressBar": false,
                  "positionClass": "toast-top-right",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "1000",
                  "timeOut": "0",
                  "extendedTimeOut": "0",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut",
              };
              {% if not request.user.is_anonymous %}
                toastr['info']('<strong>{% trans "Note" %}</strong>: \nyou are already logged in as {{ user }}.');
              {% endif %}

              let error_title = false;
              {% if form.non_field_errors %}
                {% if form_error_title %}
                  error_title = "{{ form_error_title }}\n";
                {% endif %}
                let errors = "";
                {% for error in form.non_field_errors %}
                  errors = errors.concat("\n" + "{{ error }}");
                {% endfor %}
                toastr['error'](error_title + errors);
              {% endif %}
          });
      });
  </script>


</head>

<body class="login-page" style="min-height: 512.391px;">
<div class="login-box">
  <div class="login-logo">
    {#    <img src="{{ STATIC_URL }}rooster_core/img/rooster.png" class="img-circle rooster-icon" alt="User Image">#}
    <span class="brand-text font-weight-light"><b>SaILS</b></span>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form method="POST" action="{% url "login" %}" autocapitalize="off">
        <fieldset>
          {% csrf_token %}


          {% for field in form %}
            {% if field.is_hidden %}
              {{ field }}
            {% else %}
              <div class="form-group {% if field.errors %}has-error{% endif %}">
                {{ field|addcss_addplaceholder:"form-control" }}
                {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
                {% if field.help_text %}
                  <p class="help-block">{{ field.help_text|safe }}</p>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}

          {% if next %}
            <input type="hidden" name="next" value="{{ next }}"/>
          {% endif %}

          <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-flat float-right">{% trans "Log in" %}</button>
          </div>
        </fieldset>
      </form>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

</body>

{#      <form method="POST" action="{% url 'login' %}?{{ request.META.QUERY_STRING }}" autocapitalize="off"#}
{#            class="form-horizontal">#}
{#        {% if form.non_field_errors %}#}
{#          <div class="control-group error">#}
{#            <div class="controls">#}
{#              {% for error in form.non_field_errors %}#}
{#                <span class="help-block">{{ error }}</span>#}
{#              {% endfor %}#}
{#            </div>#}
{#          </div>#}
{#        {% endif %}#}
{#        <fieldset>#}
{#          {% csrf_token %}#}
{#          {% for field in form %}#}
{#            <div class="control-group ils-popover {% if field.errors %}error{% endif %}">#}
{#              <label class="control-label" for="{{ field.html_name }}">#}
{#                {{ field.label }}{% if field.field.required %}*{% endif %}:</label>#}
{#              <div class="controls">#}
{#                {{ field }}#}
{#                {% for error in field.errors %}#}
{#                  <span class="help-block">{{ error }}</span>#}
{#                {% endfor %}#}
{#              </div>#}
{#            </div>#}
{#          {% endfor %}#}
{#          {% if 'next=' not in request.META.QUERY_STRING %}#}
{#            <input type="hidden" name="next" value="{% url 'report' %}"/>#}
{#          {% endif %}#}
{#          <div class="form-actions">#}
{#            <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>#}
{#          </div>#}
{#        </fieldset>#}
{#      </form>#}
{##}
{##}
{#      {% if not user.is_authenticated %}#}
{#        <p>{% blocktrans %}If you have any trouble logging in to your account, contact us at#}
{#          <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>#}
{#      {% endif %}#}
{##}
{#    </div>#}
{#    <div class="col-lg-4">#}
{#      {% include "registration/_login_sidebar.html" %}#}
{#    </div>#}
{#  </div>#}
{#{% endblock %}#}

