{% extends 'base.html' %}

{% load listable %}

{% block title %}Incident Dashboard{% endblock title %}

{% block page_title %}{% endblock page_title %}

{% block extra_css %}
{#    <link href="{{ STATIC_URL }}css/custom-multiselect.css" rel="stylesheet">#}
    <link href="{{ STATIC_URL }}css/custom.css?v={{ CSS_VERSION }}" rel="stylesheet">
{#    <link href="{{ STATIC_URL }}css/custom-select2.css?v={{ CSS_VERSION }}" rel="stylesheet">#}
{#    <link href="{{ STATIC_URL }}css/custom-daterangepicker.css?v={{ CSS_VERSION }}" rel="stylesheet">#}
    <link href="{{ STATIC_URL }}css/custom-tables.css?v={{ CSS_VERSION }}" rel="stylesheet">
{% endblock extra_css %}

{% block extra_js %}
  <script type="text/javascript">
      var months_ago_new_year = {{ months_ago_new_year }};
      var type_counts = {{type_counts|safe}};
      var status_counts = {{status_counts|safe}};
      var severity_counts = {{severity_counts|safe}};
      var Listable = {}
  </script>
{% endblock %}

{% block require_javascript %}
  require(['dashboard']);
{% endblock require_javascript %}

{% block content %}

  {% if request.user.is_anonymous %}
    <div class="row">
      <div class="col-lg-12">
        <p>Please <a href="{% url 'login' %}?next={{ request.path }}">Login</a> Before Continuing</p>
      </div>
    </div>
  {% else %}

    <div class="row margin-bottom-16">
      <div class="col-lg-6">
        <div class="card card-orange h-100">
          <div class="card-header">
            <h5 class="card-title">Summary</h5>
          </div>
          <div class="card-body">
            <dl class="dl-horizontal">
              {% for dt, dd in summary_items %}
                <dt>{{ dt|safe }}</dt>
                <dd>{{ dd|safe }}</dd>
              {% endfor %}
            </dl>

          </div>
        </div>

      </div>
      <div class="col-lg-6">
        <div class="card card-orange h-100">
          <div class="card-header">
            <h5 class="card-title">Your Profile</h5>
          </div>
          <div class="card-body">
            <form action="" method="POST">
              {% csrf_token %}

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox" for="investigation_notification">
                    <input name="investigations" type="checkbox"
                           {% if user.investigation_notifications %}checked="checked"{% endif %}/>
                    Receive Investigation Assignment Notifcations
                  </label>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox" for="investigation_notification">
                    <input name="actions" type="checkbox"
                           {% if user.action_notifications %}checked="checked"{% endif %}/>
                    Receive Action Assignment Notifcations
                  </label>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox" for="investigation_notification">
                    <input name="sharing" type="checkbox"
                           {% if user.sharing_notifications %}checked="checked"{% endif %}/>
                    Receive Sharing Assignment Notifcations
                  </label>
                </div>
              </div>

              <button class="btn btn-small btn-primary btn-flat pull-right" type="submit">Update</button>
            </form>

          </div>
        </div>

      </div>
    </div>

    <div class="row margin-bottom-16">
      <div class="col-lg-12">

        <div class="card card-orange">
          <div class="card-header">
            <h5 class="card-title">Incomplete Investigations</h5>
          </div>

          <div class="card-body">
            <p>You currently have {{ user_incomplete_investigations.count }} incomplete investigations.</p>

            <table id="incident-table" class="table table-sm table-hover">
              <thead>
              <tr>
                <th>View</th>
                <th>ID</th>
                <th>Incident Date</th>
                <th>Severity</th>
                <th>Assigned To You</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              {% for inv in user_incomplete_investigations %}
                {% with inv.incident as inc %}
                  <tr class="">
                    <td>
                      <div>
                        {% if inc %}
                          <a class="btn btn-xs btn-flat btn-default" href="{% url 'update_incident' inc.pk %}" title="Click to view incident {{ inc.pk }}">
                            View
                          </a>
                        {% endif %}
                      </div>
                    </td>
                    <td>
                      {% if inc %}{{ inc.id }}{% endif %}
                    </td>
                    <td> {{ inc.incident_date|date:"SHORT_DATE_FORMAT" }} </td>
                    <td> {{ inc.severity }} </td>
                    <td> {{ inv.assigned|date:"SHORT_DATE_FORMAT" }} </td>
                    <td><abbr title="{{ inc.description }}">{{ inc.description|truncatechars:30 }}</abbr></td>
                  </tr>
                {% endwith %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="col-lg-6">
        <div class="card card-orange h-100">
          <div class="card-header">
            <h5 class="card-title">Incomplete Corrective Actions</h5>
          </div>
          <div class="card-body">
            <p>You currently have {{ user_actions.count }} incomplete corrective actions.</p>

            <table id="action-table" class="table table-sm table-hover">
              <thead>
              <tr>
                <th>View</th>
                <th>ID</th>
                <th>Assigned</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              {% for action in user_actions %}
                <tr class="">
                  <td>
                    {% if action.incident %}
                      <div>
                        <a class="btn btn-xs btn-flat btn-default" href="{% url 'update_incident' action.incident.pk %}?to_actions=1" title="Click to view action {{ action.pk }}">
                          View
                        </a>
                      </div>
                    {% endif %}
                  </td>
                  <td>
                    {% if action.incident %}
                      {{ action.incident.id }}
                    {% endif %}
                  </td>
                  <td><div title="Assigned By {{ action.assigned_by }}">{{ action.assigned|date:"SHORT_DATE_FORMAT" }}</div></td>
                  <td><div title="{{ action.description }}">{{ action.description|truncatechars:70 }}</div></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="col-lg-6">
        <div class="card card-orange h-100">
          <div class="card-header">
            <h5 class="card-title">Incomplete Sharing Initiatives</h5>
          </div>
          <div class="card-body">
            <p>You currently have {{ user_sharings.count }} incomplete sharing initiatives.</p>

            <table id="sharing-table" class="table table-sm table-hover">
              <thead>
              <tr>
                <th>View</th>
                <th>ID</th>
                <th>Assigned</th>
                <th>Audience</th>
              </tr>
              </thead>
              <tbody>
              {% for sharing in user_sharings %}
                <tr class="">
                  {% if sharing.incident %}
                    <div>
                      <a class="btn btn-xs btn-flat btn-default" href="{% url 'update_incident' sharing.incident.pk %}?to_sharing=1" title="Click to view sharing {{ sharing.pk }}">
                        View
                      </a>
                    </div>
                  {% endif %}
                  <td>
                    {% if sharing.incident %}
                      {{ sharing.incident.id }}
                    {% endif %}
                  </td>
                  <td><div title="Assigned By {{ sharing.assigned_by }}">{{ sharing.assigned|date:"SHORT_DATE_FORMAT" }}</div></td>
                  <td><div>{{ sharing.sharing_audience.audience_display }} </div><span>{{ sharing.sharing_audience.name }}</span>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-orange">
          <div class="card-header">
            <h5 class="card-title">Stats</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4">
                <div class="min-height-550">
                  <h6 style="text-align:center;">Incident counts by type for the last year</h6>
                  <div id="incident-chart" style="width:100%; height:300px"></div>
                  <div id="incident-legend" class="legend-box"></div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="min-height-550">
                  <h6 style="text-align:center;">Incident counts by severity for the last year</h6>
                  <div id="severity-chart" style="width:100%; height:300px"></div>
                  <div id="severity-legend" class="legend-box"></div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="min-height-550">
                  <h6 style="text-align:center;">Incident counts by status for the last year</h6>
                  <div id="status-chart" style="width:100%; height:300px"></div>
                  <div id="status-legend" class="legend-box"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}
