<!-- starting things --------------------------------------------------------------------------------------------------------->

{% extends 'base.html' %}
{% load comments %}
{% load mptt_tags %}
{% load cache %}

{% block title %}Incident #{{ object.pk }} Details{% endblock title %}

{% block extra_css %}
  <link href="{{ STATIC_URL }}flatpickr/css/flatpickr.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}select2/css/select2.css" rel="stylesheet">
  {#    <link href="{{ STATIC_URL }}selectize/css/selectize.css" rel="stylesheet">#}
  <link href="{{ STATIC_URL }}css/custom-select2.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/custom.css?v={{ CSS_VERSION }}" rel="stylesheet">

{% endblock extra_css %}

{% block extra_js %}
  <script type="text/javascript">
      var TechniqueModality = {{ techniques|safe }};
      var thisInc = {{ incident.pk }};
      var SEVERITIES = {{severities_mod|safe}};
      var themes = {{themes|safe}};
      var object_id = {{ object.pk }};
  </script>
{% endblock extra_js %}

{% block require_javascript %}
  require(['details']);
{% endblock require_javascript %}

{% block content %}

  <!--------------------------------------------------------------------------------------------------------------------------->



  <!-- description, email, missing incident and investigation, hidden and errors ------------------------------------------------------------------->

  <div class="row">
    <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <h4>
          <span class="float-left">Incident #{{ object.pk }}</span>
        </h4>
        <span id="status-label-notrend" class="float-left badge badge-danger badge-small margin-left-10"
              {% if incident.valid %}style="display: none;{% endif %}"><i class="fas fa-minus-circle"></i> Not Trending</span>
        <span id="status-label-comp" class="float-left badge badge-success badge-small margin-left-10"
              {% if not investigation.complete %}style="display: none;{% endif %}"><i class="far fa-check-circle"></i> Complete</span>
        <span id="status-label-notcomp" class="float-left badge badge-info badge-small margin-left-10"
              {% if investigation.complete %}style="display: none;{% endif %}"><i class="far fa-circle"></i> Incomplete</span>
        <span id="status-label-dup" class="float-left badge badge-dark badge-small margin-left-10"
              {% if not incident.duplicate %}style="display: none;{% endif %}"><i class="far fa-copy"></i> Duplicate of Incident
          {% if incident.duplicate %}{{ incident.duplicate_of.pk }}{% endif %}</span>

        <span class="float-left margin-left-10">{% include "incidents/incident_flag.html" %}</span>
        &nbsp;
        {#<a href="#" class="float-right" title="Export Incident" id="download"><i class="icon-download icon-large"></i>&nbsp;</a>#}
        {#<a href="#" class="float-right" title="Print Incident Report" id="print"><i class="icon-print icon-large"></i>&nbsp;</a>#}
        <span class="float-right">
          <span class="float-right">
            <a class="btn btn-default btn-flat btn-sm" href="{{ request.META.HTTP_REFERER }}"
               title="Return to previous page">&larr; Previous page</a>
          </span>
        </span>

        <hr/>

        <br>
        <p id="subscribed"{% if not subscription %} style="display: none;"{% endif %}>
          You are currently subscribed for email updates about this incident:
          <span id="unsubscribe_btn" class="btn btn-flat btn-link"
             {% comment %}href="{% url 'unsubscribe' pk=incident.pk %}?next=incident"{% endcomment %}
             title="Unsubscribe from this incident"
          >Unsubscribe</span>
        </p>
        <p id="unsubscribed"{% if subscription %} style="display: none;"{% endif %}>
          You are not currently subscribed for email updates about this incident:
          <span id="subscribe_btn" class="btn btn-flat btn-link"
             {% comment %}href="{% url 'subscribe' pk=incident.pk %}?next=incident"{% endcomment %}
             title="Subscribe to this incident"
          >Subscribe</span>
        </p>

        <br>
        <br>

        <dl class="dl-horizontal">
          <dt>Description:</dt>
          <dd>{{ object.description|linebreaks }}</dd>

          <dt class="complete" {% if not investigation.complete %}style="display: none;"{% endif %}>Completed:</dt>
          <dd class="complete" {% if not investigation.complete %}style="display: none;"{% endif %}><em
                  id="completed-time">{{ investigation.completed }}</em></dd>
          {% with investigation.missing_fields as missing %}
            <dt class="missing" {% if investigation.complete %}style="display: none;"{% endif %}>Missing Fields:</dt>
            <dd id="missing_fields" class='missing' {% if investigation.complete %}style="display: none;"{% endif %}>
              {% for field in investigation_form.visible_fields %}
                {% for missed in missing %}
                  {% if field.html_name in missed and not field.html_name == "description" %}
                    <em>{{ field.label }}</em>,&nbsp
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </dd>
          {% endwith %}
        </dl>

        {% if incident.valid %}
            <button class="btn btn-flat btn-primary btn-small update-investigation float-right margin-left-5">Update</button>
            {% if request.GET.continue %}
              <button class="btn btn-flat btn-primary btn-small save-and-continue float-right">Update &amp; Go To Next</button>
            {% endif %}
        {% else %}
          <div href="#reopen-form-modal" role="button" data-toggle="modal"
               class="float-right btn btn-flat btn-primary margin-left-5"
          >Re-open</div>
        {% endif %}
        <br>

        {% for field in investigation_form.hidden_fields %}
          {{ field }}
        {% endfor %}

        {% for error in investigation_form.non_field_errors %}
          <div class="control-group error">
            <span class="help-block error">{{ error }}</span>
          </div>
        {% endfor %}

        <br>
    {#  </div>#}
      <!--------------------------------------------------------------------------------------------------------------------------->




      <!-- combined forms ---------------------------------------------------------------------------------------------------------->

    {#  <div class="sized-div">#}
        <form id="investigation-form" class="form form-horizontal iform" method="post">
          <input type="hidden" name="form_name" value="investigation_form"/>
          {% csrf_token %}

          <!-- incident ------------------------------------------------------------------------------------------------------------>


    {#      <a id="report"></a>#}
    {#      <div id="reported-head" class="fading-header cat-header">#}
    {#        <div class="inv-legend">#}
    {#          <p><strong>Reported</strong></p>#}
    {#          <span id="reported-plus" class="right-expand-btn"{% if request.GET.basic %}#}
    {#                style="display: none;"{% endif %}><i class="icon-plus-sign"></i></span>#}
    {#          <span id="reported-minus" class="right-expand-btn"{% if not request.GET.basic %}#}
    {#                style="display: none;"{% endif %}><i class="icon-minus-sign"></i></span>#}
    {#        </div>#}
    {#      </div>#}

          <div class="row"{% if not request.GET.basic %} style="display: none;"{% endif %}>
            <div class="col-lg-12">
              <div class="card card-orange">

                <div id="reported-head" class="card-header btn btn-flat">
                  <h3 class="card-title">Reported</h3>

                  <div class="card-tools">
                    <i class="fas {% if request.GET.to_actions or request.GET.to_sharing %}fa-plus{% else %}fa-minus{% endif %}"></i>
                  </div>
                </div>

                <div id="reported-form-wrapper" class="card-body"{% if request.GET.to_actions or request.GET.to_sharing %} style="display: none;"{% endif %}>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-horizontal">
                        {% for error in incident_form.non_field_errors %}
                          <div class="control-group error">
                            <span class="help-block error">{{ error }}</span>
                          </div>
                        {% endfor %}

                        {% for field in investigation_form.visible_fields %}

                          {# If field belongs in Investigation div, ignore it here #}
                          {% if field.auto_id in investigation_form.incident_fields|safe and not field.auto_id == "id_severity" %}

                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                              <div class="row">

                                <div class="col-lg-4">
                                  <label id="{% if field.auto_id == 'id_submitted_by' %}show-submitter{% else %}{{ field.auto_id }}_label{% endif %}"
                                         {% if field.auto_id == 'id_submitted_by' %}class="btn btn-flat btn-light"{% endif %}
                                         for="{{ field.html_name }}"
                                  >
                                    {{ field.label }}{% if field.field.required %}*{% endif %}
                                  </label>
                                </div>

                                <div class="col-lg-8"{% if field.auto_id == 'id_submitted_by' %} id="submitter"{% endif %}>
                                  {{ field }}
                                  {% if field.label == form.email.label %}
                                    <span class="help-inline">{{ field.help_text }}</span>
                                  {% endif %}
                                  {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                  {% endfor %}
                                </div>
                              </div>
                            </div>

                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!----------------------------------------------------------------------------------------------------------------------->


          <!-- investigation ------------------------------------------------------------------------------------------------------->

          <div class="row">
            <div class="col-lg-12">
              <div class="card card-orange">

                <div id="investigation-head" class="card-header btn btn-flat">
                  <h3 class="card-title">Investigation</h3>

                  <div class="card-tools">
                    <i class="fas {% if request.GET.to_actions or request.GET.to_sharing %}fa-plus{% else %}fa-minus{% endif %}"></i>
                  </div>
                </div>

                <div id="investigation-form-wrapper" class="card-body"{% if request.GET.to_actions or request.GET.to_sharing %} style="display: none;"{% endif %}>
                  <div class="form-horizontal">

                    {% for field in investigation_form.visible_fields %}

                      {#<!-- If field belongs in Incident div, ignore it here -->#}
                      {% if not field.auto_id in investigation_form.incident_fields|safe or field.auto_id == "id_severity" %}
                        <div id="hide-{{ field.auto_id }}"
                             class="form-group {% if field.errors %}has-error{% endif %}{% if field.auto_id == 'id_severity' %}ils-popover{% endif %}"
                             data-content="{{ field.help_text }}"
                             data-original-title="<strong>{{ field.label }}</strong>"
                                {% if "origin_domain" in field.auto_id or "detection_domain" in field.auto_id or "psls_id" in field.auto_id %}
                                  {% if not investigation_form.instance.incident.incident_type == "clinical" %}
                                    style="display: none;"
                                  {% endif %}
                                {% elif "operational_type" in field.auto_id %}
                                  {% if not investigation_form.instance.incident.incident_type == "operational" %}
                                    style="display: none;"
                                  {% endif %}
                                {% elif "standard_description" in field.auto_id %}
                                  {% if not investigation_form.instance.incident.incident_type == "clinical" or not investigation_form.instance.incident.is_actual %}
                                    style="display: none;"
                                  {% endif %}
                                {% endif %}
                        >
                          <div class="row">
                            <div class="col-lg-4">
                              <label class="control-label iform-label" for="{{ field.html_name }}">
                                {{ field.label }}{% if field.field.required %}*{% endif %}
                              </label>
                            </div>

                            <div class="col-lg-8">
                              {% if "origin_domain" in field.auto_id %}
                                {% if incident.valid %}
                                  <div id="ori-dom-btn" title="Click to choose Origin Domain"
                                     class="btn btn-flat btn-light modal-trigger btn-id_domain" href="#domain-modal"
                                     role="button"
                                     data-toggle="modal">{% firstof field.form.instance.origin_domain.name '<i class="far fa-question-circle"></i>' %}</div>
                                {% else %}
                                  <div id="ori-dom-btn" class="btn btn-flat btn-light modal-trigger btn-id_domain"
                                     role="button"
                                     disabled>{% firstof field.form.instance.origin_domain.name '<i class="far fa-question-circle"></i>' %}</div>
                                {% endif %}
                                <div id="ori-dom-text" class="help-block ancestors btn-id_domain">
                                    {{ field.form.instance.origin_domain.ancestor_names }}
                                </div>
                                {{ field.as_hidden }}
                              {% elif "detection_domain" in field.auto_id %}
                                {% if incident.valid %}
                                  <div id="det-dom-btn" title="Click to choose Detection Domain"
                                     class="btn btn-flat btn-light modal-trigger btn-id_domain" href="#domain-modal"
                                     role="button"
                                     data-toggle="modal">{% firstof field.form.instance.detection_domain.name '<i class="far fa-question-circle"></i>' %}</div>
                                {% else %}
                                  <div id="det-dom-btn" class="btn btn-flat btn-light modal-trigger btn-id_domain"
                                     role="button"
                                     disabled>{% firstof field.form.instance.detection_domain.name '<i class="far fa-question-circle"></i>' %}</div>
                                {% endif %}
                                <div id="det-dom-text" class="help-block ancestors btn-id_domain">
                                                          {{ field.form.instance.detection_domain.ancestor_names }}
                                                      </div>
                                {{ field.as_hidden }}
                              {% elif "_cause" in field.auto_id %}
                                {% if incident.valid %}
                                  <div title="Click to choose Cause" class="btn btn-flat btn-light modal-trigger "
                                     href="#cause-modal" role="button"
                                     data-toggle="modal">{% firstof field.form.instance.cause.name '<i class="far fa-question-circle"></i>' %}</div>
                                {% else %}
                                  <div class="btn btn-flat btn-light modal-trigger" role="button"
                                     disabled>{% firstof field.form.instance.cause.name '<i class="far fa-question-circle"></i>' %}</div>
                                {% endif %}
                                <div class="help-block ancestors">
                                    {{ field.form.instance.cause.ancestor_names }}
                                </div>
                                {{ field.as_hidden }}
                              {% elif "harm" in field.auto_id %}
                                {% if incident.valid %}
                                  <div title="Click to choose Degree of Harm" class="btn btn-flat btn-light modal-trigger"
                                     href="#harm-modal" role="button"
                                     data-toggle="modal"> {% firstof field.form.instance.get_harm_display '<i class="far fa-question-circle"></i>' %}</div>
                                {% else %}
                                  <div class="btn btn-flat btn-light modal-trigger" role="button"
                                     disabled> {% firstof field.form.instance.get_harm_display '<i class="far fa-question-circle"></i>' %}</div>
                                {% endif %}
                                {{ field.as_hidden }}
                              {% else %}
                                {{ field }}
                              {% endif %}

                              {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                              {% endfor %}
                            </div>
                          </div>

                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
    {#              <a id="comments"></a>#}

                  <div class="card card-light">

                    <div id="hide-comments" class="card-header btn btn-light btn-flat">
    {#                  <div id="hide-comments" class="btn btn-xs btn-flat btn-light"><strong>Comments</strong></div>#}
                      Comments
                    </div>

                    <div id="comment-div" class="comments card-body">
                      {% get_comment_list for object.investigation as comment_list %}
                      <div  class="row">
                        <div class="col-lg-12">
                          {% for comment in comment_list %}
                            <div class="row form-group">
                              <div class="col-lg-4 commenter">
                                {{ comment.submit_date }}<br/>by {{ comment.user }}
                              </div>
                              <div class="col-lg-8">
                                <pre>{{ comment.comment }}</pre>
                              </div>
                              <hr/>
                            </div>
                          {% endfor %}

                          {% if incident.valid %}
                            <div id="div_id_comment" class="row control-group">
                              <div class="col-lg-4">
                                <label for="id_comment">Add Comment</label>
                              </div>
                              <div class="col-lg-8">
                                <textarea class="form-control" rows="3" id="id_comment" name="comment"></textarea>
                              </div>
                            </div>
                          {% endif %}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!----------------------------------------------------------------------------------------------------------------------->


          <!-- actions ------------------------------------------------------------------------------------------------------------->

        <div class="row">
          <div class="col-lg-12">
            <div class="card card-orange">

              <div id="action-head" class="card-header btn btn-flat">

                {% if incident.valid %}
                  <div class="btn btn-flat btn-xs btn-default btn-text-highlight float-left" id="add_more_act">
                    <i class="far fa-plus-square"></i>&nbsp;Add
                  </div>
                {% else %}
                  <div class="btn btn-flat btn-default btn-xs float-left" id="add_more_act" style="display: none">
                    <i class="far fa-plus-square"></i>&nbsp;Add
                  </div>
                {% endif %}
                <h3 class="card-title margin-left-10">Corrective Actions</h3>

                <div class="card-tools">
                  <i class="fas {% if request.GET.to_sharing %}fa-plus{% else %}fa-minus{% endif %}"></i>
                </div>
              </div>

              <div id="action-form-wrapper" class="card-body"{% if request.GET.to_sharing %} style="display: none;"{% endif %}>

                {{ actions_formset.management_form }}
                <div id="actions-formset">
                  {% for form in actions_formset.forms %}
                    <div class="card card-default">

                      <div class="card-body">
                        <div class="form-horizontal">

                          {# incomplete form fields here #}
                          <div id="incomplete-{{ form.prefix }}" class="action-form"
                               style="{% if form.instance.complete and not form.errors.items %}display: none;{% endif %}">

                            {% for error in form.non_field_errors %}
                              <div class="control-group has-error">
                                <span class="help-block error">{{ error }}</span>
                              </div>
                            {% endfor %}

                            {% for hidden in form.hidden_fields %}
                              {{ hidden }}
                            {% endfor %}

                            {% for field in form.visible_fields %}
                              {% if "complete" not in field.auto_id and "comment-act" not in field.auto_id %}
                                <div class="form-group row{% if field.errors %} has-error{% endif %}">

                                  <div class="col-lg-4">
                                    <label for="{{ field.html_name }}">
                                      {{ field.label }}{% if field.field.required %}*{% endif %}
                                    </label>
                                  </div>

                                  <div class="col-lg-8">
                                    {% if "action_type" in field.auto_id %}
                                      {% if incident.valid %}
                                        <div title="Click to choose Action Type" class="btn btn-flat btn-light modal-trigger"
                                           href="#action-modal" role="button"
                                           data-toggle="modal"> {% firstof field.form.instance.action_type '<i class="far fa-question-circle"></i>' %}</div>
                                      {% else %}
                                        <div class="btn btn-flat btn-light modal-trigger" role="button"
                                           disabled> {% firstof field.form.instance.action_type '<i class="far fa-question-circle"></i>' %}</div>
                                      {% endif %}
                                      {{ field.as_hidden }}
                                    {% elif "responsible" in field.auto_id %}
                                      {{ field }}
                                      <div id="assigned-tag-{{ form.prefix }}" class="passive">
                                        Assigned&nbsp{{ form.instance.assigned }}&nbspby&nbsp{{ form.instance.assigned_by }}
                                      </div>
                                    {% else %}
                                      {{ field }}
                                    {% endif %}

                                    <em>{{ field.help_text }}</em>
                                    {% for error in field.errors %}
                                      <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                  </div>

                                </div>
                              {% endif %}
                            {% endfor %}

                          </div>

                          {# complete form fields here #}
                          <div id="complete-{{ form.prefix }}" class="action-form"
                               {% if not form.instance.complete or form.errors.items %}style="display: none"{% endif %}>

                            <div class="form-group row">
                              <div class="col-lg-4">
                                <label class="colour-{{ form.prefix }}-action_type">Action Type</label>
                              </div>
                              <div id="completed-{{ form.prefix }}-type" class="col-lg-8 colour-{{ form.prefix }}-action_type">
                                {{ form.instance.action_type }}
                              </div>
                              <div class="col-lg-4">
                                <label class="colour-{{ form.prefix }}-priority">Priority</label>
                              </div>
                              <div id="completed-{{ form.prefix }}-priority" class="col-lg-8 colour-{{ form.prefix }}-priority">
                                {% if form.instance.priority == None %}-----{% else %}{{ form.instance.priority }}{% endif %}
                              </div>

                              <div class="col-lg-4">
                                <label class="colour-{{ form.prefix }}-escalation">Escalation</label>
                              </div>
                              <div id="completed-{{ form.prefix }}-escalation" class="col-lg-8 colour-{{ form.prefix }}-escalation">
                                {% if form.instance.escalation == None %}-----{% else %}{{ form.instance.escalation }}{% endif %}
                              </div>

                              <div class="col-lg-4">
                                <label class="control-label colour-{{ form.prefix }}-responsible">Responsible</label>
                              </div>
                              <div class="col-lg-8 colour-{{ form.prefix }}-responsible">
                                <div id="completed-{{ form.prefix }}-responsible">{{ form.instance.responsible }} &nbsp&nbsp </div>
                                <div id="completed-{{ form.prefix }}-assigned-tag">(Assigned&nbsp{{ form.instance.assigned }}&nbspby&nbsp{{ form.instance.assigned_by }})</div>
                              </div>

                              <div class="col-lg-4">
                                <label class="colour-{{ form.prefix }}-description">Description</label>
                              </div>
                              <div id="completed-{{ form.prefix }}-description" class="col-lg-8 colour-{{ form.prefix }}-description">{{ form.instance.description }}</div>
                            </div>
                          </div>

                          {# comments #}
                          <div id="comments-{{ form.prefix }}" class="action-form">
                            {% get_comment_list for form.instance as comment_list %}

                            <input type="hidden" id="num-comments-{{ form.prefix }}" value="{{ comment_list|length }}"/>
                            <div id="comment-well-{{ form.prefix }}" class="card card-light"
                                 {% if not comment_list and form.instance.complete %}style="display: none;"{% endif %}
                            >
                              <div id="hide-comments-actions-{{ form.prefix }}" class="card-header">
                                Comments
                              </div>

                              <div class="card-body">
                                <div  class="row">
                                  <div id="submitted-comments-{{ form.prefix }}" class="comments col-lg-12">
                                    {% for comment in comment_list %}
                                      <div class="row form-group">
                                        <div class="col-lg-4 commenter">
                                          {{ comment.submit_date }}<br/>by {{ comment.user }}
                                        </div>
                                        <div class="col-lg-8">
                                          <pre>{{ comment.comment }}</pre>
                                        </div>
                                        <hr/>
                                      </div>
                                    {% endfor %}

                                    {% if incident.valid %}
                                      <div id="comment-div-{{ form.prefix }}" class="row control-group">
                                        <div class="col-lg-4">
                                          <label for="id_comment_act-{{ form.prefix }}">Add Comment</label>
                                        </div>
                                        <div class="col-lg-8">
                                          <textarea class="form-control" rows="3" id="id_comment_act-{{ form.prefix }}" name="comment-{{ form.prefix }}"></textarea>
                                        </div>
                                      </div>
                                    {% endif %}

                                  </div>

                                </div>
                              </div>

                            </div>
                          </div>

                          {# Complete flag here #}
                          <div class="action-form">
                            <div class="form-group row">
                              <div class="col-lg-4">
                                <label class="control-label">Complete</label>
                              </div>
                              <div class="col-lg-8">{{ form.complete }}</div>
                              <div id="complete-date-actions-{{ form.prefix }}">
                                {% if form.instance.complete %}Completed on {{ form.instance.completed }}{% endif %}
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  {% endfor %}

                  <div id="empty_action_form" style="display:none;">
                    <div class="card card-default">

                      <div class="card-body">
                        <div class="form-horizontal">

                          {% for hidden in actions_formset.empty_form.hidden_fields %}
                            {{ hidden }}
                          {% endfor %}

                          {# incomplete fields here #}
                          <div id="incomplete-actions-__prefix__" class="action-form empty-act">
                            <input id="initials-actions-__prefix__" name="initials-actions-__prefix__" type="hidden">
                            <input id="new-form-actions-__prefix__" name="new-form-actions-__prefix__" type="hidden"
                                   value=True>
                            <input id="new-form-pk-actions-__prefix__" name="new-form-pk-actions-__prefix__" type="hidden">

                            {% for field in actions_formset.empty_form.visible_fields %}
                              {% if "complete" not in field.auto_id and "comment-act" not in field.auto_id %}
                                <div class="form-group {% if field.errors %}error{% endif %}">
                                  <div class="row{% if field.errors %} has-error{% endif %}">
                                    <div class="col-lg-4">
                                      <label for="{{ field.html_name }}">
                                        {{ field.label }}{% if field.field.required %}*{% endif %}
                                      </label>
                                    </div>
                                    <div class="col-lg-8" {% comment %}{% if "responsible" in field.auto_id %}style="max-height: 55px;"{% endif %}{% endcomment %}>
                                      {% if "action_type" in field.auto_id %}
                                        {% if incident.valid %}
                                          <div title="Click to choose Action Type" class="btn btn-flat btn-light modal-trigger"
                                               href="#action-modal" role="button" data-toggle="modal">
                                            {% firstof field.form.instance.action_type '<i class="far fa-question-circle"></i>' %}
                                          </div>
                                        {% else %}
                                          <div class="btn btn-flat btn-light modal-trigger" role="button" disabled>
                                            {% firstof field.form.instance.action_type '<i class="far fa-question-circle"></i>' %}
                                          </div>
                                        {% endif %}
                                        {{ field.as_hidden }}
                                      {% elif "responsible" in field.auto_id %}
                                        {{ field }}
                                        <div id="new-assigned-tag-actions-__prefix__" class="passive" style="display: none;"></div>
                                      {% else %}
                                        {% if incident.valid %}
                                          {{ field }}
                                        {% endif %}
                                      {% endif %}

                                      <em>{{ field.help_text }}</em>
                                      {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                      {% endfor %}
                                    </div>
                                  </div>
                                </div>
                              {% endif %}
                            {% endfor %}
                          </div>

                          {# complete form fields here #}
                          <div id="complete-actions-__prefix__" class="action-form" style="display: none;">

                            <div class="form-group row">
                              <div class="col-lg-4"><label class="colour-actions-__prefix__-action_type">Action Type</label></div>
                              <div id="new-completed-actions-__prefix__-type" class="col-lg-8 colour-actions-__prefix__-action_type"></div>

                              <div class="col-lg-4"><label class="colour-actions-__prefix__-priority" >Priority</label></div>
                              <div id="new-completed-actions-__prefix__-priority" class="col-lg-8 colour-actions-__prefix__-priority"></div>

                              <div class="col-lg-4"><label class="colour-actions-__prefix__-escalation">Escalation</label></div>
                              <div id="new-completed-actions-__prefix__-escalation" class="col-lg-8 colour-actions-__prefix__-escalation"></div>

                              <div class="col-lg-4"><label class="colour-actions-__prefix__-responsible">Responsible</label></div>
                              <div class="col-lg-8 colour-actions-__prefix__-responsible">
                                <div id="new-completed-actions-__prefix__-responsible"></div>
                                <div id="new-completed-actions-__prefix__-assigned-tag"></div>
                              </div>

                              <div class="col-lg-4"><label class="colour-actions-__prefix__-description">Description</label></div>
                              <div id="new-completed-actions-__prefix__-description" class="col-lg-8 colour-actions-__prefix__-description"></div>
                            </div>

                          </div>

                          {# comments #}
                          <div id="comments-actions-__prefix__" class="action-form">

                            <input type="hidden" id="num-comments-actions-__prefix__" value=0/>
                            <div id="comment-well-actions-__prefix__" class="card card-light formset-comment-header">
                              <div id="hide-comments-actions-__prefix__" class="card-header">
              {#                  <div id="hide-comments" class="btn btn-xs btn-flat btn-light"><strong>Comments</strong></div>#}
                                Comments
                              </div>

                              <div id="comments-actions-card-body-__prefix__" class="card-body">
                                <div id="submitted-comments-actions-__prefix__">
                                </div>

                                <div id="comment-div-actions-__prefix__" class="row form-group">
                                  <div class="col-lg-4">
                                    <label>Add Comment</label>
                                  </div>
                                  <div class="col-lg-8">
                                    <textarea class="form-control formset-comment" rows="3"
                                              id="id_comment_actions-__prefix__" name="comment-actions-__prefix__"
                                    >
                                    </textarea>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          {# Complete flag here #}
                          <div class="action-form">
                            <div class="form-group row">
                              <div class="col-lg-4"><label class="control-label">Complete</label></div>
                              <div class="col-lg-8">
                                {{ actions_formset.empty_form.complete }}
                                <div id="close-empty-actions-__prefix__" class="btn btn-flat btn-default float-right">Remove</div>
                              </div>
                              <div id="complete-date-actions-__prefix__"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

          <!----------------------------------------------------------------------------------------------------------------------->


          <!-- Sharing ------------------------------------------------------------------------------------------------------------->

        <div class="row">
          <div class="col-lg-12">
            <div class="card card-orange">

              <div id="sharing-head" class="card-header btn btn-flat">
                <div class="btn btn-flat btn-xs btn-default btn-text-highlight float-left" id="add_more_sha"{% if not incident.valid %}style="display: none"{% endif %}>
                  <i class="far fa-plus-square"></i>&nbsp;Add
                </div>
                <h3 class="card-title margin-left-10">Sharing</h3>

                <div class="card-tools">
                  <i class="fas {% if request.GET.to_actions %}fa-plus{% else %}fa-minus{% endif %}"></i>
                </div>
              </div>

              <div id="sharing-form-wrapper" class="card-body"{% if request.GET.to_actions %} style="display: none;"{% endif %}>
                {{ sharing_formset.management_form }}
                <div id="sharing-formset">

                  {% for form in sharing_formset.forms %}
                    <div class="card card-default">
                      <div class="card-body">
                        <div class="form-horizontal">

                          {# incomplete sharing fields #}
                          <div id="incomplete-{{ form.prefix }}" class="sharing-form"
                               {% if form.instance.done and not form.errors.items %}style="display: none"{% endif %}
                          >
                            {% for error in form.non_field_errors %}
                              <div class="form-group has-error">
                                <span class="help-block error">{{ error }}</span>
                              </div>
                            {% endfor %}
                            {{ form.id }}

                            {% for hidden in form.hidden_fields %}
                              {{ hidden }}
                            {% endfor %}

                            {% for field in form.visible_fields %}
                              {% if "done" not in field.auto_id %}
                                <div class="form-group">
                                  <div class="row{% if field.errors %} has-error{% endif %}">
                                    <div class="col-lg-4">
                                      <label for="{{ field.html_name }}">
                                        {{ field.label }}{% if field.field.required %}*{% endif %}
                                      </label>
                                    </div>

                                    <div class="col-lg-8">
                                      {% if "sharing_audience" in field.auto_id %}
                                        {% if incident.valid and not form.instance.completed %}
                                          <div title="Click to choose Sharing Audience" class="btn btn-flat btn-light modal-trigger"
                                             href="#sharing-modal" role="button" data-toggle="modal"
                                          >
                                            {% firstof field.form.instance.sharing_audience '<i class="far fa-question-circle"></i>' %}
                                          </div>
                                        {% else %}
                                          <div class="btn btn-flat modal-trigger" role="button" disabled>
                                            {% firstof field.form.instance.sharing_audience '<i class="far fa-question-circle"></i>' %}
                                          </div>
                                        {% endif %}
                                        {{ field.as_hidden }}
                                      {% elif "responsible" in field.auto_id %}
                                        {{ field }}
                                        <div id="assigned-tag-{{ form.prefix }}" class="passive">
                                          Assigned&nbsp;{{ form.instance.assigned }}&nbsp;by&nbsp;{{ form.instance.assigned_by }}</div>
                                      {% else %}
                                        {{ field }}
                                      {% endif %}

                                      <em>{{ field.help_text }}</em>
                                      {% for error in field.errors %}
                                        <div class="help-block">{{ error }}</div>
                                      {% endfor %}
                                    </div>
                                  </div>

                                </div>
                              {% endif %}
                            {% endfor %}
                          </div>

                          {# complete sharing fields #}
                          <div id="complete-{{ form.prefix }}" class="sharing-form"
                               {% if not form.instance.done or form.errors.items %}style="display: none"{% endif %}
                          >

                            <div class="form-group row">
                              <div class="col-lg-4">
                                <label class="colour-{{ form.prefix }}-sharing_audience">Sharing Audience</label>
                              </div>
                              <div id="completed-{{ form.prefix }}-sharing_audience" class="col-lg-8 colour-{{ form.prefix }}-sharing_audience">
                                {{ form.instance.sharing_audience }}
                              </div>

                              <div class="col-lg-4">
                                <label class="colour-{{ form.prefix }}-responsible">Responsible</label>
                              </div>
                              <div class="col-lg-8 colour-{{ form.prefix }}-responsible">
                                <div id="completed-{{ form.prefix }}-responsible">{{ form.instance.responsible }} &nbsp;&nbsp; </div>
                                <div id="completed-{{ form.prefix }}-assigned-tag">(Assigned&nbsp;{{ form.instance.assigned }}&nbsp;by&nbsp;{{ form.instance.assigned_by }})</div>
                              </div>
                            </div>

                          </div>

                          {# comments #}
                          <div id="comments-{{ form.prefix }}" class="sharing-form">
                            {% get_comment_list for form.instance as comment_list %}

                            <input type="hidden" id="num-comments-{{ form.prefix }}" value="{{ comment_list|length }}"/>
                            <div id="comment-well-{{ form.prefix }}" class="card card-light"
                                 {% if not comment_list and form.instance.complete %}style="display: none;"{% endif %}
                            >
                              <div id="hide-comments-sharing-{{ form.prefix }}" class="card-header">
                                Comments
                              </div>

                              <div class="card-body">
                                <div  class="row">
                                  <div id="submitted-comments-{{ form.prefix }}" class="comments col-lg-12">
                                    {% for comment in comment_list %}
                                      <div class="row form-group">
                                        <div class="col-lg-4 commenter">
                                          {{ comment.submit_date }}<br/>by {{ comment.user }}
                                        </div>
                                        <div class="col-lg-8">
                                          <pre>{{ comment.comment }}</pre>
                                        </div>
                                        <hr/>
                                      </div>
                                    {% endfor %}

                                    {% if incident.valid %}
                                      <div id="comment-div-{{ form.prefix }}" class="row control-group">
                                        <div class="col-lg-4">
                                          <label for="id_comment_sha-{{ form.prefix }}">Add Comment</label>
                                        </div>
                                        <div class="col-lg-8">
                                          <textarea class="form-control" rows="3" id="id_comment_sha-{{ form.prefix }}" name="comment-{{ form.prefix }}"></textarea>
                                        </div>
                                      </div>
                                    {% endif %}

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          {# complete checkbox #}
                          <div class="sharing-form">
                            <div class="form-group row">
                              <div class="col-lg-4"><label>Complete</label></div>
                              <div class="col-lg-8 float-left">{{ form.done }}</div>
                              <div id="complete-date-{{ form.prefix }}" class="float-right">
                                {% if form.instance.done %}Completed on {{ form.instance.done_date }}{% endif %}
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>

              <div id="empty_sharing_form" style="display:none">
                <div class="card card-default">
                  <div class="card-body">
                    <div class="form-horizontal">
                      {% for hidden in sharing_formset.empty_form.hidden_fields %}
                        {{ hidden }}
                      {% endfor %}

                      {# incomplete fields here #}
                      <div id="incomplete-sharing-__prefix__" class="sharing-form empty-sha">
                        <input id="initials-sharing-__prefix__" name="initials-sharing-__prefix__" type="hidden">
                        <input id="new-form-sharing-__prefix__" name="new-form-sharing-__prefix__" type="hidden" value=True>
                        <input id="new-form-pk-sharing-__prefix__" name="new-form-pk-sharing-__prefix__" type="hidden">

                        {% for field in sharing_formset.empty_form.visible_fields %}
                          {% if "done" not in field.auto_id and "comment-sha" not in field.auto_id %}
                            <div class="form-group">
                              <div class="row{% if field.errors %} has-error{% endif %}">
                                <div class="col-lg-4"><label for="{{ field.html_name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label></div>
                                <div class="col-lg-8">

                                  {% if "sharing_audience" in field.auto_id %}
                                    {% if incident.valid %}
                                      <div title="Click to choose Sharing Audience" class="btn btn-flat btn-light modal-trigger"
                                         href="#sharing-modal" role="button" data-toggle="modal"
                                      >
                                        {% firstof field.form.instance.sharing_audience '<i class="far fa-question-circle"></i>' %}
                                      </div>
                                    {% else %}
                                      <div class="btn btn-flat btn-light modal-trigger" role="button" disabled>
                                        {% firstof field.form.instance.sharing_audience '<i class="far fa-question-circle"></i>' %}
                                      </div>
                                    {% endif %}
                                    {{ field.as_hidden }}
                                  {% elif "responsible" in field.auto_id %}
                                    {{ field }}
                                    <div id="new-assigned-tag-sharing-__prefix__" class="passive"></div>
                                  {% else %}
                                    {% if incident.valid %}
                                      {{ field }}
                                    {% endif %}
                                  {% endif %}

                                  <em>{{ field.help_text }}</em>
                                  {% for error in field.errors %}
                                    <div class="help-block">{{ error }}</div>
                                  {% endfor %}
                                </div>

                              </div>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>

                      {# complete form fields here #}
                      <div id="complete-sharing-__prefix__" class="sharing-form" style="display: none;">

                        <div class="form-group row">
                          <div class="col-lg-4"><label class="colour-sharing-__prefix__-sharing_audience">Sharing Audience</label></div>
                          <div id="new-completed-sharing-__prefix__-sharing_audience" class="col-lg-8 colour-sharing-__prefix__-sharing_audience"></div>

                          <div class="col-lg-4"><label class="control-label colour-sharing-__prefix__-responsible">Responsible</label></div>
                          <div class="col-lg-8 colour-sharing-__prefix__-responsible">
                            <div id="new-completed-sharing-__prefix__-responsible"></div>
                            <div id="new-completed-sharing-__prefix__-assigned-tag"></div>
                          </div>
                        </div>

                      </div>

                      {# comments #}
                      <div id="comments-sharing-__prefix__" class="sharing-form">

                        <input type="hidden" id="num-comments-sharing-__prefix__" value=0/>
                        <div id="comment-well-sharing-__prefix__" class="card card-light formset-comment-header">
                          <div id="hide-comments-sharing-__prefix__" class="card-header">
                            Comments
                          </div>

                          <div id="comments-sharing-card-body-__prefix__" class="card-body">
                            <div id="submitted-comments-sharing-__prefix__"></div>

                            <div id="comment-div-sharing-__prefix__" class="row form-group">
                              <div class="col-lg-4"><label for="sharing-__prefix__">Add Comment</label></div>
                              <div class="col-lg-8">
                                <textarea  id="sharing-__prefix__" class="form-control formset-comment" rows="3" name="comment-sharing-__prefix__"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      {# Complete flag here #}
                      <div class="sharing-form">
                        <div class="form-group row">
                          <div class="col-lg-4"><label>Complete</label></div>
                          <div class="col-lg-8 float-left">
                            {{ sharing_formset.empty_form.done }}
                            <div id="close-empty-sharing-__prefix__" class="btn btn-flat btn-default float-right">Remove</div>
                          </div>
                          <span id="complete-date-sharing-__prefix__" class="float-right"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!----------------------------------------------------------------------------------------------------------------------->


        <!-- update/invalid buttons ---------------------------------------------------------------------------------------------->

        <div class="row">
          <div class="col-lg-12">
            {% if incident.valid %}
              <div href="#invalid-form-modal" role="button" data-toggle="modal"
                   class="float-left btn btn-flat btn-default margin-right-5"
              >Not Appropriate for Trending</div>
              <a href="#duplicate-form-modal" role="button" data-toggle="modal"
                 class="float-left btn btn-flat btn-default margin-right-5"
              >Mark Duplicate</a>

              <button class="btn btn-flat btn-primary margin-left-5 update-investigation float-right">Update</button>
              {% if request.GET.continue %}
                <input id="do-save-and-continue" value="0" type="hidden" name="do-save-and-continue"/>
                <div class="btn btn-flat btn-primary margin-left-5 save-and-continue float-right">
                  Update &amp; Go To Next
                </div>
              {% endif %}

            {% else %}
                <div href="#reopen-form-modal" role="button" data-toggle="modal"
                     class="float-right btn btn-flat btn-primary margin-left-5"
                >Re-open</div>
            {% endif %}
          </div>
        </div>
          <!----------------------------------------------------------------------------------------------------------------------->


        </form>
        {#</div>#}
      </div>
    <div class="col-lg-2"></div>
  </div>


  <!--------------------------------------------------------------------------------------------------------------------------->


  <!-- buttons ----------------------------------------------------------------------------------------------------------------->

  <div id="invalid-form-modal" class="modal fade custom-modal" tabindex="-1" role="dialog"
       aria-labelledby="invalidModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form id="invalid-form" method="post">
          <div class="modal-header">
            <h4 id="invalidModalLabel" >Mark Not Appropriate for Trending</h4>
          </div>

          <div class="modal-body">
            <input type="hidden" name="form_name" value="invalid_form"/>
            <div class="form-group">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-4"><label class="control-label" for="invalid-comment">Add Comment</label></div>
                <div class="col-lg-8">
                  <textarea id="invalid-comment" class="form-control" name="invalid-comment"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <a href="#" class="btn btn-flat btn-default float-left" data-dismiss="modal">Close</a>
            <button id="submit-invalid" type="submit" href="#" class="btn btn-flat btn-primary">Mark Not Appropriate for
              Trending
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div id="duplicate-form-modal" class="modal fade custom-modal" tabindex="-1" role="dialog"
       aria-labelledby="duplicateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form id="duplicate-form" method="post">
          <div class="modal-header">
            <h4 id="duplicateModalLabel">Mark Duplicate</h4>
          </div>

          <div class="modal-body">
            <input type="hidden" name="duplicate-comment" id="duplicate-comment"/>
            <input type="hidden" name="form_name" value="duplicate_form"/>
            <div class="form-group">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-4"><label for="duplicate-comment">Duplicate of</label></div>
                <div class="col-lg-8">
                  <select id="incident-selector" class="form-control">
                    <option value="3620194" selected="selected">Select Incident</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <a href="#" class="btn btn-default float-left" data-dismiss="modal">Close</a>
            <button id="submit-duplicate" type="submit" href="#" class="btn btn-flat btn-primary" disabled>
              Mark Duplicate
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div id="reopen-form-modal" class="modal fade custom-modal" tabindex="-1" role="dialog"
       aria-labelledby="reopenModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form id="reopen-form" method="post">
          <div class="modal-header">
            <h4 id="reopenModalLabel" >Re-open</h4>
          </div>

          <div class="modal-body">
            <input type="hidden" name="form_name" value="reopen_form"/>
            <div class="form-group">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-4"><label class="control-label" for="invalid-comment">Add Comment</label></div>
                <div class="col-lg-8">
                  <textarea id="reopen-comment" class="form-control" name="reopen-comment"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <div href="#" class="btn btn-default btn-flat float-left" data-dismiss="modal">Close</div>
            <button id="submit-reopen" type="submit" href="#" class="btn btn-flat btn-primary">Re-open</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div id="complete-form-modal" class="modal fade custom-modal" tabindex="-1" role="dialog"
       aria-labelledby="completeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form id="complete-form" method="post">
          <div class="modal-header">
            <h4 id="completeModalLabel">Complete Incident</h4>
          </div>

          <div class="modal-body">
            <input type="hidden" name="form_name" value="complete_form"/>
            <div class="form-group">
              {% csrf_token %}
              <p>Do you want to close this investigation?</p>
            </div>
          </div>

          <div class="modal-footer">
            <a href="#" class="btn btn-default float-left" data-dismiss="modal">No</a>
            <button id="submit-close" type="submit" href="#" class="btn btn-flat btn-primary">Yes</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------------------------------------------->


  <!-- modals ------------------------------------------------------------------------------------------------------------------>

    {% cache MAX_CACHE_TIMEOUT domain_modal %}
      <div id="domain-modal" class="modal fade custom-modal" tabindex="-1" role="dialog"
           aria-labelledby="domainModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 id="domainModalLabel" >ILS Domains</h4>
            </div>

            <div class="modal-body">
              <div class="row">
{#                <div class="col-lg-12">#}
                  {% for domain in domains %}
                    {% if forloop.counter0|divisibleby:3 %}
                      <div style="clear:both"></div>{% endif %}
                    <div class="modal-container col-lg-4">

                      <ul class="root">
                        {% recursetree domain %}
                          <li>
                            {% if not node.is_leaf_node %}
                              {{ node.name }}
                              <ul class="children">
                                {{ children }}
                              </ul>
                            {% else %}
                              <a class="modal-link" data-pk="{{ node.pk }}" data-toggle="popover" data-dismiss="modal"
                                 {% if node.description %}data-content="{{ node.description }}"{% endif %}
                                 href="#">{{ node.name }}</a>
                              <input type="hidden" value="{{ node.ancestor_names }}"/>
                            {% endif %}
                          </li>
                        {% endrecursetree %}
                      </ul>
                    </div>
                  {% endfor %}
{#                </div>#}
              </div>
            </div>

            <div class="modal-footer">
              <a href="#" class="btn btn-flat btn-small btn-default modal-link" data-pk="" data-dismiss="modal">Clear</a>
              <button class="btn btn-flat btn-small btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>
        </div>
      </div>
    {% endcache %}

    {% cache MAX_CACHE_TIMEOUT cause_modal %}
      <div id="cause-modal" class="modal hide fade" tabindex="-1" role="dialog"
           aria-labelledby="causeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xxl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 id="causeModalLabel">ILS Causes</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                {% for cause in causes %}
  {#                {% if forloop.counter0|divisibleby:3 %}#}
  {#                  <div style="clear:both"></div>{% endif %}#}
                  <div class="modal-container col-lg-4">

                    <ul class="root">

                      {% recursetree cause %}
                        <li>
                          {% if not node.is_leaf_node %}
                            {{ node.name }}
                            <ul class="children">
                              {{ children }}
                            </ul>
                          {% else %}
                            <a class="modal-link" data-pk="{{ node.pk }}" data-toggle="popover" data-dismiss="modal"
                               {% if node.description %}data-content="{{ node.description }}"{% endif %}
                               href="#">{{ node.name }}</a>
                            <input type="hidden" value="{{ node.ancestor_names }}"/>
                          {% endif %}
                        </li>
                      {% endrecursetree %}
                    </ul>
                  </div>
                {% endfor %}
              </div>
            </div>

            <div class="modal-footer">
              <a href="#" class="btn btn-flat btn-small btn-default modal-link" data-pk="" data-dismiss="modal">Clear</a>
              <button class="btn btn-flat btn-small btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>
        </div>

      </div>
    {% endcache %}

    {% cache MAX_CACHE_TIMEOUT action_modal %}
      <div id="action-modal" class="modal large fade" tabindex="-1" role="dialog"
           aria-labelledby="actionModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <div class="modal-header">
              <h4 id="actionModalLabel">ILS Action Types</h4>
            </div>
            <div class="modal-body">
              {% for strength, action_set in actions %}
                <div class="modal-container">
                  <ul class="root">
                    <li>
                      {{ strength }}
                      <ul class="children">
                        {% for action in action_set %}
                          <li>
                            <p>
                              <a class="modal-link" data-pk="{{ action.pk }}" data-toggle="popover" data-dismiss="modal"
                                 data-content="{{ action.description }}" href="#">{{ action.name }}
                                ({{ action.strength_display }})</a>
                              {{ action.description }}
                            </p>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  </ul>
                </div>
              {% endfor %}
            </div>

            <div class="modal-footer">
              <a href="#" class="btn btn-flat btn-small btn-default modal-link" data-pk="" data-dismiss="modal">Clear</a>
              <button class="btn btn-flat btn-small btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>
        </div>

      </div>
    {% endcache %}

    {% cache MAX_CACHE_TIMEOUT sharing_modal %}
      <div id="sharing-modal" class="modal large fade" tabindex="-1" role="dialog"
           aria-labelledby="sharingModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            <div class="modal-header">
              <h4 id="sharingModalLabel">ILS Sharing Audiences</h4>
            </div>
            <div class="modal-body">
              {% for audience, sharing_set in sharing_audiences %}
                <div class="modal-container modal-container-small">
                  <ul class="root">
                    <li>
                      {{ audience }}
                      <ul class="children">
                        {% for sharing in sharing_set %}
                          <li>
                            <p>
                              <a class="modal-link" data-pk="{{ sharing.pk }}" data-toggle="popover"
                                 data-dismiss="modal" data-content="{{ sharing.description }}"
                                 href="#">{{ sharing.name }}</a>
                              {{ sharing.description }}
                            </p>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  </ul>
                </div>
              {% endfor %}
            </div>

            <div class="modal-footer">
              <a href="#" class="btn btn-flat btn-small btn-default modal-link" data-pk="" data-dismiss="modal">Clear</a>
              <button class="btn btn-flat btn-small btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>

          </div>
        </div>
      </div>
    {% endcache %}


    {% cache MAX_CACHE_TIMEOUT harm_modal %}
      <div id="harm-modal" class="modal large fade" tabindex="-1" role="dialog"
           aria-labelledby="harmModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <div class="modal-header">
              <h4 id="causeModalLabel">WHO Harm Definitions</h4>
            </div>
            <div class="modal-body">
              {% for harm, display, def in harms %}
                <div class="modal-container">
                  <ul class="root">
                    <li>
                      <p>
                        <a class="modal-link" data-pk="{{ harm }}" data-toggle="popover" data-dismiss="modal"
                           data-content="{{ def }}" href="#">{{ display }}</a>
                        {{ def }}
                      </p>
                    </li>
                  </ul>
                </div>
              {% endfor %}
            </div>

            <div class="modal-footer">
              <a href="#" class="btn btn-flat btn-small btn-default modal-link" data-pk="" data-dismiss="modal">Clear</a>
              <button class="btn btn-flat btn-small btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>

          </div>
        </div>

      </div>
    {% endcache %}

    {% cache MAX_CACHE_TIMEOUT severity_modal %}
      <div id="severity-modal" class="modal large fade" tabindex="-1" role="dialog"
           aria-labelledby="harmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <div class="modal-header">
              <h4 id="causeModalLabel">{{ object.get_incident_type_display }} Incident Type Severities</h4>
            </div>
            <div class="modal-body">
              {% for sev, display, def in severities %}
                <div class="modal-container">
                  <ul class="root">
                    <li>
                      <p>
                        <a class="modal-link" data-pk="{{ sev }}" data-toggle="popover" data-dismiss="modal"
                           data-content="{{ def }}" href="#">{{ display }}</a>
                        {{ def }}
                      </p>
                    </li>
                  </ul>
                </div>
              {% endfor %}
            </div>

            <div class="modal-footer">
              <a href="#" class="btn btn-flat btn-small btn-default modal-link" data-pk="" data-dismiss="modal">Clear</a>
              <button class="btn btn-flat btn-small btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>

          </div>
        </div>
      </div>
    {% endcache %}

  <div id="unsub_toast" style="display: none;">
    <div class="row">
      <div class="col-12">
        <h3>Unsubscribe</h3>
        <p>Are you sure you want to unsubscribe from Incident {{ object.id }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button id="unsub_cancel" type="button" class="btn btn-flat btn-default float-left clear">Cancel</button>
        <button id="unsub_okay" type="button" class="btn btn-flat btn-danger float-right clear">Confirm</button>
      </div>
    </div>

  </div>

  <div id="sub_toast" style="display: none;">
    <div class="row">
      <div class="col-12">
        <h3>Subscribe</h3>
        <p>Do you want to subscribe to Incident {{ object.id }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button id="sub_cancel" type="button" class="btn btn-flat btn-default float-left clear">Cancel</button>
        <button id="sub_okay" type="button" class="btn btn-flat btn-primary float-right clear">Confirm</button>
      </div>
    </div>

  </div>

  <!--------------------------------------------------------------------------------------------------------------------------->


{% endblock content %}

