{% extends 'base.html' %}
{% block title %}Report an Incident{% endblock title %}

{% block page_title %}

{% endblock page_title %}

{% block extra_css %}


  <link href="{{ STATIC_URL }}flatpickr/css/flatpickr{{ MIN }}.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}select2/css/select2.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/custom-select2.css?v={{ CSS_VERSION }}" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
  <script type="text/javascript">
      var SEVERITIES = {{severities|safe}};
  </script>
{% endblock extra_js %}

{% block require_javascript %}
  require(['report']);
{% endblock require_javascript %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-7">
          <div class="card card-orange">
            <div class="card-header">
              <h4 class="card-title">Report an Incident</h4>
            </div>

            <div class="card-body">
              <p>
                An incident is any unwanted or unexpected change from a normal
                system behaviour that causes, or has the potential to cause, an
                adverse effect to persons or equipment.
              </p>
              <p>
                Potential incidents or &lsquo;near-misses&rsquo; must also be reported.
              </p>
              <hr class="tight"/>

              <form autocomplete="off" id="report-form" class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-horizontal">

                  {% for field in form %}

                    <div class="form-group{% if field.label != form.submitted_by.label and field.label != form.auth_password.label %} ils-popover{% endif %}
                         {% if field.errors %}has-error{% endif %}"
                         {% if field.label != form.severity.label %}data-content="{{ field.help_text }}"{% endif %}
                         data-original-title="<strong>{{ field.label }}</strong>"
                         {% if field.label != form.submitted_by.label and field.label != form.auth_password.label %}data-offset="13, 13"{% endif %}
                    >
                      <div class="row">
                        <label class="col-lg-4" for="{{ field.html_name }}">
                          {{ field.label }}{% if field.field.required %}*{% endif %}
                        </label>
                        <div class="col-lg-8">
                          {{ field }}
                          {% if field.label == form.email.label %}
                            <div class="help-inline">{{ field.help_text }}</div>
                          {% endif %}
                          {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <div id="report-submit" class="float-right btn btn-flat btn-primary">Submit</div>
                {% if form.auth_password.errors or form.submitted_by.errors %}
                  <script>errorMessages.push(['error', 'Invalid Username &amp; Password']);</script>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-7">


        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </div>


{% endblock content %}

