<a title="Flag for discussion" class="incident-flag {% if incident.flag%}text-error flagged{% endif %}" data-incident="{{incident.pk}}">
{#    <i class="icon-flag{% if not incident.flag %}-alt{%endif%}"></i>#}
  {% if not incident.flag %}<i class="fas fa-flag"></i>{% else %}<i class="far fa-flag"></i>{% endif %}
</a>
