<div>
  <a {% if class %} class="{{class}}" {% endif %}
     href="{% url 'update_incident' pk=incident.pk %}?next={% if next %}{{next}}{% else %}{% url 'update_incident' pk=incident.pk %}{% endif %}{%if save_and_continue %}&continue={{save_and_continue}}{%endif%}{% if to_actions %}&to_actions=1{% endif %}{% if to_sharing %}&to_sharing=1{% endif %}{% if basic %}&basic=1{% endif %}{% if anchor %}{{anchor}}{% endif %}"
     title="Click to view Incident #{{incident.pk}}"
  >
    {{ display }}
  </a>
</div>
