{% extends 'incidents/list_base.html' %}

{% load listable %}

{% block title %}Triage Incidents{% endblock title %}

{% block page_title %}<h4>Triage Incidents</h4>{% endblock page_title %}
{##}
{#{% block listable %}#}
{#    {% listable 'triage' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}#}
{#{% endblock %}#}

{% block page_description %}
    <p>Showing incidents with no investigator assigned.</p>
{% endblock page_description %}

