{% extends 'incidents/list_base.html' %}

{% load listable %}

{% block title %}All Incident Actions{% endblock title %}

{% block page_title %}<h4>All Incident Actions</h4>{% endblock page_title %}

{#{% block listable %}#}
{#    {% listable view_name save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}#}
{#{% endblock listable %}#}

{% block page_description %}
    <p>All incident actions in the system</p>
{% endblock page_description %}


