{% extends 'incidents/list_base.html' %}

{% load listable %}

{% block title %}All Your Complete Assigned Sharing{% endblock title %}

{% block page_title %}<h4>All Complete Sharing Assigned To You</h4>{% endblock page_title %}

{#{% block listable %}#}
{#    {% listable 'my-complete-sharing' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}#}
{#{% endblock listable %}#}

{#{% block content %}#}

{% block page_description %}
    <p>All complete sharing assigned to you.</p>
{% endblock page_description %}
