{% extends 'incidents/list_base.html' %}
{% load listable %}

{% block title %}My Investigations{% endblock title %}

{% block page_title %}<h4>My Investigations</h4>{% endblock page_title %}

{#{% block listable %}#}
{#    {% listable 'my-investigations' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}#}
{#{% endblock %}#}

{% block page_description %}
    <p>Showing all investigations you have been assigned.<p>
{% endblock page_description %}
