{% extends 'base.html' %}

{% load listable %}

{% block title %}{% endblock title %}

{% block page_title %}{% endblock page_title %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}select2/css/select2{{ MIN }}.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}daterangepicker/css/daterangepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}fontawesome/css/fontawesome{{ MIN }}.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/custom-multiselect.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/custom.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/custom-select2.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/custom-daterangepicker.css?v={{ CSS_VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/custom-tables.css?v={{ CSS_VERSION }}" rel="stylesheet">
{#    {% autoescape off %}{% listable_css %}{% endautoescape %}#}
{% endblock extra_css %}

{% block require_javascript %}
    require(['listable']);
{% endblock require_javascript %}

{% block extra_js %}
  {% autoescape off %}
    {% listable view_name dom="<'row'<'col-lg-5'i><'col-lg-7'p>><'row'<'col-lg-12'tr>><'row'<'col-lg-5'><'col-lg-7'p>>" requirejs=True pagination_type='bootstrap3' css_table_class='table-sm table-hover' css_input_class='btn-flat btn-sm input-sm full-width form-control' auto_width=False %}
  {% endautoescape %}
{% endblock %}

{% block content %}

{% block page_description %}
{% endblock page_description %}

<div class="row">
    <div class="col-lg-12">
        {{listable_table}}
    </div>
</div>

{% endblock content %}

