{% extends 'incidents/list_base.html' %}

{% load listable %}

{% block title %}Complete Incident Sharing{% endblock title %}

{% block page_title %}<h4>Complete Incident Sharing</h4>{% endblock page_title %}

{#{% block listable %}#}
{#    {% listable 'complete-sharing' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}#}
{#{% endblock listable %}#}

{% block page_description %}
    <p>All complete incident sharing in the system</p>
{% endblock page_description %}