{% extends 'incidents/list_base.html' %}

{% load listable %}

{% block title %}All Your Assigned Actions{% endblock title %}

{% block page_title %}<h4>All Actions Assigned To You</h4>{% endblock page_title %}

{#{% block listable %}#}
{#    {% listable 'my-actions' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}#}
{#{% endblock listable %}#}

{% block page_description %}
    <p>All actions assigned to you.</p>
{% endblock page_description %}


