{% extends 'incidents/list_base.html' %}

{% load listable %}

{% block title %}All Your Incomplete Assigned Sharing{% endblock title %}

{% block page_title %}<h4>All Incomplete Sharing Assigned To You</h4>{% endblock page_title %}

{#{% block listable %}#}
{#    {% listable 'my-incomplete-sharing' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}#}
{#{% endblock listable %}#}

{% block page_description %}
    <p>All incomplete sharing assigned to you.</p>
{% endblock page_description %}
