{% extends 'incidents/list_base.html' %}

{% load listable %}

{% block title %}Your Submitted Incidents{% endblock title %}

{% block page_title %}<h4>Your Submitted Incidents</h4>{% endblock page_title %}

{#{% block listable %}#}
{#    {% listable 'my-incidents' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}#}
{#{% endblock listable %}#}

{% block page_description %}
    <p>Incidents that you submitted in the past.</p>
{% endblock page_description %}

