{% extends 'incidents/list_base.html' %}

{% load listable %}

{% block title %}Completed Incidents{% endblock title %}

{% block page_title %}<h4>Completed Incidents</h4>{% endblock page_title %}
{##}
{#{% block listable %}#}
{#    {% listable 'complete-incidents' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}#}
{#{% endblock %}#}

{% block page_description %}
    <p>Showing incidents marked as complete.</p>
{% endblock page_description %}
