{% extends 'incidents/list_base.html' %}

{#{% load listable %}#}

{% block title %}All Your Assigned Sharing{% endblock title %}

{% block page_title %}<h4>All Sharing Assigned To You</h4>{% endblock page_title %}

{#{% block listable %}#}
{#    {% listable 'my-sharing' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}#}
{#{% endblock listable %}#}

{% block page_description %}
    <p>All sharing assigned to you.</p>
{% endblock page_description %}
