{% extends 'incidents/list_base.html' %}

{% load listable %}

{% block title %}All Incomplete Sharing{% endblock title %}

{% block page_title %}<h4>All Incomplete Sharing</h4>{% endblock page_title %}

{#{% block listable %}#}
{#    {% listable 'incomplete-sharing' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}#}
{#{% endblock listable %}#}

{% block page_description %}
    <p>All incomplete sharing in the system</p>
{% endblock page_description %}

