{% extends 'base.html' %}
{% load listable %}

{% block title %}Statistics on Incomplete Incidents{% endblock title %}

{% block page_title %}{% endblock page_title %}

{% block extra_css %}

  <link href="{{ STATIC_URL }}css/custom-select2.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/custom.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/custom-tables.css?v={{ CSS_VERSION }}" rel="stylesheet">
{% endblock extra_css %}

{% block extra_js %}
  <script>
      var Listable = {};
  </script>

{% endblock %}

{% block require_javascript %}
  require(['incomplete_statistics']);
{% endblock require_javascript %}

{% block content %}

  <div class="row">
    <div class="col-lg-12">
      <h4>Incomplete Incident Statistics</h4>
      <form autocomplete="off" id="report-form" action="." class="form-horizontal" method="get">
        {% csrf_token %}

{#        <div class="form-group">#}
          <div class="form-group row">
            <div class="col-lg-2">
              <label for="from_date">From Date:</label>
            </div>
            <div class="col-lg-4">
{#              <div class="date datepicker" data-date-format="dd M yyyy" title="Click to change date" id="dp3">#}
                <input id="from_date" name="from_date" class="form-control flatpickr" value="{{ from_date }}"/>
{#                <span class="add-on"><i class="icon-calendar"></i></span>#}
{#              </div>#}
            </div>
            <div class="col-lg-6"></div>
          </div>

          <div class="form-group row">
            <div class="col-lg-2">
              <label for="to_date">To Date:</label>
            </div>
            <div class="col-lg-4">

{#              <div class="input-append date datepicker" data-date-format="dd M yyyy" title="Click to change date"#}
{#                   id="dp3">#}
              <input id="to_date" name="to_date" class="flatpickr form-control" value="{{ to_date }}"/>
{#                <span class="add-on"><i class="icon-calendar"></i></span>#}
              </div>
            </div>

        <div class="form-group row">
          <div class="col-lg-2">
            <button type="submit" class="btn btn-default btn-flat">Go</button>
          </div>
        </div>

{#        </div>#}
      </form>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <table class="table table-hover table-condensed">
        <tbody>
        <tr>
          <td colspan="2"><strong>Summary</strong></td>
        </tr>
        <tr>
          <td>Total # of incidents</td>
          <td>{{ all_incidents.count }}</td>
        </tr>

        <tr>
          <td># of invalid incidents</td>
          <td>{{ invalid.count }}</td>
        </tr>

        <tr>
          <td># of complete valid incidents</td>
          <td>{{ complete_and_valid.count }}</td>
        </tr>

        <tr>
          <td># of incomplete valid incidents</td>
          <td>{{ incomplete_and_valid.count }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <table id="user-table" class="table table-hover table-condensed">
        <thead>
        <tr>
          <th>Investigator</th>
          <th># Incomplete</th>
          <th>Incomplete Investigations</th>
        </tr>
        </thead>
        <tbody>
        {% for investigator, incidents in by_user.items %}
          <tr>
            <td>{{ investigator }}</td>
            <td>{{ incidents|length }}</td>
            <td>
              {% for inc in incidents %}
                <a href="{{ inc.get_absolute_url }}?basic=1">{{ inc.pk }}</a>
                {% if not forloop.last %}, {% endif %}
              {% endfor %}

            </td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th>Investigator</th>
          <th># Incomplete</th>
          <th>Incomplete investigations</th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>

{% endblock content %}
