{% extends 'base.html' %}
{% load listable %}

{% block title %}Statistics{% endblock title %}

{% block page_title %}{% endblock page_title %}

{% block extra_css %}
  <link href="{{ STATIC_URL }}select2/css/select2{{ MIN }}.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/custom-select2.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/custom.css?v={{ CSS_VERSION }}" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/custom-tables.css?v={{ CSS_VERSION }}" rel="stylesheet">
  {#    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet">#}
  {#    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet">#}
  {#    {% autoescape off %}{% listable_css %}{% endautoescape %}#}
{% endblock extra_css %}

{% block extra_js %}
  <script type="text/javascript">
      var typeCounts = {{type_counts|safe}};
      var statusCounts = {{status_counts|safe}};
      var severityCounts = {{severity_counts|safe}};
      var domainCounts = {{domain_counts|safe}};
      var causeCounts = {{cause_counts|safe}};
      var Listable = {};
  </script>

{% endblock %}

{% block require_javascript %}
  require(['statistics']);
{% endblock require_javascript %}

{% block content %}

  <div class="row margin-bottom-16">
    <div class="col-lg-3">
      <h4>Incident Statistics for</h4>
    </div>
    <div class="col-lg-3">
      <select id="year-select" class="form-control">
        {% for y in years %}
          <option value="{{ y }}" {% if y == selected_year %}selected="selected"{% endif %}>{{ y }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row margin-bottom-16">
    <div class="col-lg-1">
      <label>Jump to:</label>
    </div>
    <div class="col-lg-11">
      <div class="btn-group">
        <a href="#summary-wrapper" class="btn btn-flat btn-default">Summary</a>
        <a href="#domain-wrapper" class="btn btn-flat btn-default">Origin &amp; Detection Domains</a>
        <a href="#cause-wrapper" class="btn btn-flat btn-default">Causality</a>
      </div>
    </div>
  </div>

  <div id="summary-wrapper" class="card card-orange">

    <div class="card-header">
      <h5 class="card-title">Incident counts by type for {{ selected_year }}</h5>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 min-height-550">
              <table class="table table-hover table-condensed">
                <thead>
                <tr>
                  {% for th in summary_header %}
                    <th>{{ th }}</th>
                  {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr class="actual">
                  {% for td in actual_table.0 %}
                    <td><strong>{{ td }}</strong></td>
                  {% endfor %}
                </tr>
                {% for tr in actual_table|slice:"1:" %}
                  <tr>
                    {% for td in tr %}
                      <td>{{ td }}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
                <tr class="potential">
                  {% for td in potential_table.0 %}
                    <td><strong>{{ td }}</strong></td>
                  {% endfor %}
                </tr>
                {% for tr in potential_table|slice:"1:" %}
                  <tr>
                    {% for td in tr %}
                      <td>{{ td }}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}

                <tr class="invalid">
                  {% for td in invalid %}
                    <td><strong>{{ td }}</strong></td>
                  {% endfor %}
                </tr>
                <tr class="">
                  {% for td in grand_totals %}
                    <td><strong>{{ td }}</strong></td>
                  {% endfor %}
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-lg-6 padding-left-10">
              <div class="row h-100">
                <div class="col-lg-12 h-100 padding-left-10">

                  <div class="row h-33">
                    <div class="col-lg-8 h-100" id="incident-chart" {% comment %}style="width:80%; height:150px"{% endcomment %}></div>
                    <div class="col-lg-4 stat-count-legend" id="incident-legend" class="legend" {% comment %}style="width:20%; height:150px;"{% endcomment %}></div>
                  </div>

                    <div class="row h-33">
                      <div class="col-lg-8 h-100" id="severity-chart" {% comment %}style="width:80%; height:150px"{% endcomment %}></div>
                      <div class="col-lg-4" id="severity-legend" class="legend" {% comment %}style="width:20%; height:150px"{% endcomment %}></div>
                    </div>

                    <div class="row h-33">
                      <div class="col-lg-8 h-100" id="status-chart" {% comment %}style="width:80%; height:150px"{% endcomment %}></div>
                      <div class="col-lg-4" id="status-legend" class="legend" {% comment %}style="width:20%; height:150px"{% endcomment %}></div>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="domain-wrapper" class="card card-orange card-tabs">
    <div class="card-header padding-2_0_0_0">

{#      <ul class="nav nav-tabs float-left" id="domain-tabs" role="tablist">#}
{#        <li class="pt-2 px-3">#}
          <h5 class="card-title float-left padding-left-20">Incident domains for {{ selected_year }}</h5>
{#        </li>#}
{#      </ul>#}

      <ul class="nav nav-tabs float-right " id="domain-tabs" role="tablist">
        <li class="nav-item">
          <a id="domain-table-tab" href="#domain-table-tabpanel" data-toggle="tab" class="nav-link active" role="tab" aria-controls="domain-table-tab">Table</a>
        </li>
        <li class="nav-item">
          <a id="domain-origin-tab" href="#origin-domain-chart-tabpanel" data-toggle="tab" class="nav-link" role="tab" aria-controls="origin-domain-chart-tab">Origin Chart</a>
        </li>
        <li class="nav-item">
          <a id="domain-detection-tab" href="#detection-domain-chart-tabpanel" data-toggle="tab" class="nav-link" role="tab" aria-controls="detection-domain-chart-tab">Detection Chart</a>
        </li>
      </ul>
    </div>
    <div class="card-body">

      <div class="tab-content">

        <div class="tab-pane fade show active" id="domain-table-tabpanel" role="tabpanel">
          <table id="domain-table" class="table table-hover table-condensed">
            <thead>
{#            <tr>#}
{#              {% for th in domain_header %}#}
{#                <th>{{ th }}</th>#}
{#              {% endfor %}#}
{#            </tr>#}
            <tr>
              {% for th in domain_header %}
                <th>{{ th }}</th>
              {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for tr in domain_table %}
              <tr>
                {% for td in tr %}
                  <td>{{ td }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="origin-domain-chart-tabpanel" role="tabpanel">
          <div class="row">
            <div class="col-lg-12">
              <legend>Origin Domain</legend>
              <div id="origin-domain-chart" style="width: 100%; height: 800px"></div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="detection-domain-chart-tabpanel" role="tabpanel">
          <div class="row">
            <div class="col-lg-12">
              <legend>Detection Domain</legend>
              <div id="detection-domain-chart" style="width:100%; height:800px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="cause-wrapper" class="card card-orange card-tabs">

    <div class="card-header padding-2_0_0_0">

{#      <ul class="nav nav-tabs float-left" id="cause-tabs" role="tablist">#}
{#        <li class="pt-2 px-3">#}
          <h5 class="card-title float-left padding-left-20">Incident Causes for {{ selected_year }}</h5>
{#        </li>#}
{#      </ul>#}
      <ul class="nav nav-tabs float-right" id="domain-tabs" role="tablist">
        <li class="nav-item">
          <a id="domain-table-tab" href="#cause-table-tabpanel" data-toggle="tab" class="nav-link active" role="tab" aria-controls="cause-table-tab">Table</a>
        </li>
        <li class="nav-item">
          <a id="domain-origin-tab" href="#cause-chart-tabpanel" data-toggle="tab" class="nav-link" role="tab" aria-controls="cause-chart-tab">Causality Chart</a>
        </li>
      </ul>
    </div>

    <div class="card-body">

      <div class="tab-content">
        <p><em>Only causes attributed to one or more incidents are shown</em></p>

        <div class="tab-pane active fade show" id="cause-table-tabpanel">
          <table id="cause-table" class="table table-hover table-condensed">
            <thead>
            <tr>
              {% for th in cause_header %}
                <th>{{ th }}</th>
              {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for tr in cause_table %}
              <tr>
                {% for td in tr %}
                  <td>{{ td }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="cause-chart-tabpanel">
          <div class="row">
            <div class="col-lg-12">
              <legend>Causality</legend>
              <div id="cause-chart" style="width:100%; height:800px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}
