{% extends 'base.html' %}

{% block title %}My Tasks{% endblock title %}

{% block page_title %}My Tasks{% endblock page_title %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
{% endblock extra_css %}

{% block extra_js %}
    <script type="text/javascript">
    {% block datatables_config %}
        DataTables = {
            url: SiteConfig.forceScriptName + Django.url('all-incidents-dt'),
            severities: {{severities|safe}},
            actuals: {{actuals|safe}},
            types: {{types|safe}}
        };
    {% endblock datatables_config %}
    </script>

    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="{{STATIC_URL}}select2/select2.min.js"></script>
{% endblock %}


{% block content %}

{% block page_description %}
<p>All tasks </p>
{% endblock page_description %}

<div class="row">
    <div class="span12"></div>
</div>

{% endblock content %}
